<div class="page-layout dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mr-4">search</mat-icon>
                <span class="title dialog-title">Búsqueda de plaza</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-8 pb-0 m-0" fusePerfectScrollbar>
        <fieldset class="fieldset-border mt-0 mb-12">
            <legend>Criterios de búsqueda</legend>
            <form autocomplete="off" novalidate [formGroup]="form">
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
                        <div class="ml-4" fxLayoutAlign="start start" fxFlex="33.3%" fxFlex.lt-md="100%">
                            <mat-form-field appearance="fill" fxFlex="100%" [mineduFormFieldValidationState]="form.get('codigoPlaza')">
                                <mat-label [mineduFormRequiredLabel]="form.get('codigoPlaza')">
                                    Código de plaza
                                </mat-label>
                                <input matInput formControlName="codigoPlaza" 
                                [minlength]="12" [maxlength]="12" 
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                                uppercase>
                                <mat-error>
                                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('codigoPlaza')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="ml-4" fxLayoutAlign="start start" fxFlex="50%" fxFlex.lt-md="100%">
                            <mat-form-field appearance="fill" fxFlex="100%" [mineduFormFieldValidationState]="form.get('centroTrabajo')">
                                <mat-label [mineduFormRequiredLabel]="form.get('centroTrabajo')">
                                    Centro de trabajo
                                </mat-label>
                                <input matInput formControlName="centroTrabajo" uppercase alphaNumeric 
                                [maxlength]="300" />
                                <mat-error>
                                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('centroTrabajo')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
                        <div class="ml-4" fxLayoutAlign="start start" fxFlex="33.3%" fxFlex.lt-md="100%">
                            <mat-form-field appearance="fill" fxFlex="100%" [mineduFormFieldValidationState]="form.get('codigoCentroTrabajo')">
                                <mat-label [mineduFormRequiredLabel]="form.get('codigoCentroTrabajo')">
                                    Código modular
                                </mat-label>
                                <input matInput formControlName="codigoCentroTrabajo" uppercase numbersOnly  
                                minlength="6" maxlength="7"/>
                                <mat-error>
                                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('codigoCentroTrabajo')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="ml-4" fxLayoutAlign="start start" fxFlex="50%" fxFlex.lt-md="100%">
                            <mat-form-field appearance="fill" fxFlex="100%" [mineduFormFieldValidationState]="form.get('codigoRegimenLaboral')">
                                <mat-label [mineduFormRequiredLabel]="form.get('codigoRegimenLaboral')">
                                    Régimen laboral
                                </mat-label>
                                <mat-select formControlName="codigoRegimenLaboral">
                                    <mat-option value="-1">TODOS</mat-option>
                                    <mat-option *ngFor="let item of regimenesLaborales" [value]="item.codigoRegimenLaboral">
                                        {{item.descripcionRegimenLaboral}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('codigoRegimenLaboral')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mb-20" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                        <div mat-dialog-actions fxLayout="row">
                            <button type="button" mat-raised-button (click)="limpiar()">
                                <span class="material-icons">clear</span> LIMPIAR</button>
                        </div>
                        <div mat-dialog-actions class="ml-12" fxLayout="row">
                            <button type="button" mat-raised-button color="primary" (click)="handleBuscar()" style="display: inline-block; background-color: rgb(0, 115, 183); border-left-color: rgb(0, 115, 183); border-right-color: rgb(0, 115, 183);">
                                <span class="material-icons">search</span> BUSCAR</button>
                        </div>
                    </div>
                </div>
                <br /><br />
            </form>
        </fieldset>
        <span class="instruccionesSeleccionar">Doble click en una de las filas de la tabla para seleccionar la plaza</span>
        <div class="content">
            <div class="content-table" style="overflow: auto;">
                <div fxLayout="row" fxLayout.lt-md="column">
                    <mat-table class="minedu-table" #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }" >
                        <ng-container matColumnDef="rowNum">
                            <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">N°:</span> {{row.indice}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="codigoPlaza">
                            <mat-header-cell *matHeaderCellDef>Código de plaza</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Código de plaza:</span> {{row.codigoPlaza}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="itemPlaza">
                            <mat-header-cell *matHeaderCellDef>Item plaza</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Item plaza:</span> {{row.itemPlaza}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="tipoPlaza">
                            <mat-header-cell *matHeaderCellDef>Tipo de plaza</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Tipo de plaza:</span> {{row.tipoPlaza}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="codigoCentroTrabajo">
                            <mat-header-cell *matHeaderCellDef>Código modular</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Código modular:</span> {{row.codigoCentroTrabajo}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="anexo">
                            <mat-header-cell *matHeaderCellDef>Anexo</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Anexo:</span> {{row.anexoCentroTrabajo}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="centroTrabajo">
                            <mat-header-cell *matHeaderCellDef>Centro de trabajo</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Centro de trabajo:</span> {{row.centroTrabajo}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="modalidad">
                            <mat-header-cell *matHeaderCellDef>Modalidad</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Modalidad:</span> {{row.modalidad}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nivelEducativo">
                            <mat-header-cell *matHeaderCellDef>Nivel Educativo</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Nivel Educativo:</span> {{row.nivelEducativo}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="regimenLaboral">
                            <mat-header-cell *matHeaderCellDef>Régimen laboral</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Régimen laboral:</span> {{row.regimenLaboral}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cargo">
                            <mat-header-cell *matHeaderCellDef>Cargo</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Cargo:</span> {{row.cargo}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="jornadaLaboral">
                            <mat-header-cell *matHeaderCellDef>Jornada laboral</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Jornada laboral:</span> {{row.jornadaLaboral}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="motivoVacancia">
                            <mat-header-cell *matHeaderCellDef>Motivo de vacancia</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span class="mobile-label">Motivo de vacancia:</span> {{row.motivoVacancia}}
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onSelect(row)" [ngClass]="{
                            hovered: row.hovered,
                            selected: selection.isSelected(row)
                            }" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" matRipple [@animate]="{ value: '*', params: { y: '100%' } }">
                        </mat-row>
                    </mat-table>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
                    <div class="no-results" *ngIf="!(dataSource.loading | async)" [style.display]="dataSource.data.length === 0 ? '' : 'none'">
                        No se encontraron registros
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container" *ngIf="dataSource.loading | async">
                        <mat-spinner diameter="50"></mat-spinner>
                    </div>
                </div>
            </div>            
            <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
                <mat-paginator fxLayoutAlign="center center" #paginator 
                class="mat-paginator-sticky" [length]="dataSource?.dataTotal" 
                [pageIndex]="paginatorPageIndex" [pageSize]="paginatorPageSize" 
                [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button (click)="matDialogRef.close()">
            <span class="material-icons">close</span> CERRAR
        </button>
    </div>
</div>
