<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title">Sustentar motivo de no publicación de plazas</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>




    <div class="panel-body">
        <fieldset class="fieldset-border mb-3">
            <form *ngIf="!soloLectura" [formGroup]="form">
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.xs="column" fxFlex="30%" fxFlex.xs="100%"
                        fxLayoutGap="12px" fxLayoutGap.xs="0">

                        <mat-select formControlName="idTipoMotivo"
                            placeholder="Seleccionar motivo">
                            <mat-option class="textareaMod">
                                Primera opción
                            </mat-option>
                            <!-- <mat-option *ngFor="let item of listTiposSustento"
                                [value]="item.value">
                                {{item.label}}
                            </mat-option> -->
                        </mat-select>
                    </div>
                    <div fxLayout="column" fxLayout.xs="column" fxFlex="70%" fxFlex.xs="100%"
                        fxLayoutGap="12px" fxLayoutGap.xs="0">
                        <mat-form-field appearance="outline">
                            <!-- placeholder="Motivo de sustento" -->
                            <textarea title="textoMotivo" matInput formControlName="textoMotivo"
                                maxlength="50"></textarea>
                        </mat-form-field>

                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset class="fieldset-border mb-3">
            <legend>Proceso y etapa</legend>
            <form *ngIf="!soloLectura" [formGroup]="form">
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%"
                        fxLayoutGap="12px" fxLayoutGap.xs="0">
                        <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%"
                            [mineduFormFieldValidationState]="form.get('idTipoDocumentoSustento')">
                            <mat-label
                                [mineduFormRequiredLabel]="form.get('idTipoDocumentoSustento')">
                                Tipo de
                                documento
                            </mat-label>
                            <mat-select formControlName="idTipoDocumentoSustento">
                                <mat-option *ngFor="let item of listTiposSustento"
                                    [value]="item.value">
                                    {{item.label}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('idTipoDocumentoSustento')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%"
                            [mineduFormFieldValidationState]="form.get('numeroDocumentoSustento')">
                            <mat-label
                                [mineduFormRequiredLabel]="form.get('numeroDocumentoSustento')">
                                Número de
                                documento</mat-label>
                            <input matInput formControlName="numeroDocumentoSustento"
                                placeholder="Número de documento" maxlength="50">
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('numeroDocumentoSustento')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%"
                            [mineduFormFieldValidationState]="form.get('entidadEmisora')">
                            <mat-label [mineduFormRequiredLabel]="form.get('entidadEmisora')">
                                Entidad
                                emisora
                            </mat-label>
                            <input matInput formControlName="entidadEmisora"
                                placeholder="Entidad emisora" maxlength="400">
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('entidadEmisora')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                        <minedu-datepicker appearance="fill" fxFlex="25%" fxFlex.xs="100%"
                            label="Fecha de emisión" [mineduFormControl]="form.get('fechaEmision')"
                            [formControl]="form.get('fechaEmision')" [max]="maxDate">
                        </minedu-datepicker>
                        <mat-error>
                            <minedu-form-field-validation-messages
                                [mineduFormControl]="form.get('fechaEmision')">
                            </minedu-form-field-validation-messages>
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%"
                        fxLayoutGap="12px" fxLayoutGap.xs="0">
                        <mat-form-field appearance="fill" fxFlex="24%" fxFlex.xs="100%"
                            [mineduFormFieldValidationState]="form.get('numeroFolios')">
                            <mat-label [mineduFormRequiredLabel]="form.get('numeroFolios')">Folios
                            </mat-label>
                            <input matInput formControlName="numeroFolios" placeholder="Folios"
                                maxlength="4" type="number">
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('numeroFolios')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="24%" fxFlex.xs="100%"
                            [mineduFormFieldValidationState]="form.get('idTipoFormatoSustento')">
                            <mat-label
                                [mineduFormRequiredLabel]="form.get('idTipoFormatoSustento')">
                                Tipo de
                                formato
                            </mat-label>
                            <mat-select formControlName="idTipoFormatoSustento">
                                <mat-option *ngFor="let item of listTiposTipoFormato"
                                    [value]="item.value">
                                    {{item.label}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('idTipoFormatoSustento')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="24%" fxFlex.xs="100%"
                            [mineduFormFieldValidationState]="form.get('sumilla')">
                            <mat-label [mineduFormRequiredLabel]="form.get('sumilla')">Sumilla
                            </mat-label>
                            <input matInput formControlName="sumilla"
                                placeholder="Número de documento" maxlength="400">
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('sumilla')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="24%" fxFlex.xs="100%"
                            [mineduFormFieldValidationState]="form.get('codigoAdjuntoSustento')">
                            <mat-label
                                [mineduFormRequiredLabel]="form.get('codigoDocumentoSustento')">
                                Adjuntar documento</mat-label>
                            <input title="codigoDocumentoSustento" matInput formControlName="codigoDocumentoSustento"
                                class="icon-cursor" (click)="file.click()" readonly>
                            <mat-icon matSuffix class="icon-cursor" (click)="file.click()">publish
                            </mat-icon>
                            <input hidden (change)="uploadFile(file.files)" #file type="file"
                                id="file" accept="application/pdf">
                            <mat-hint>Formato: PDF, tamaño máximo 2MB</mat-hint>
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('codigoDocumentoSustento')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" class="mb-10">
                    <div mat-dialog-actions class="p-0" fxLayout="row">
                        <button mat-stroked-button color="primary" (click)="handleAdd(form)"><span
                                class="material-icons">add</span>
                            AGREGAR</button>
                    </div>
                </div>
            </form>
            <br *ngIf="!soloLectura">
            <div class="content" mineduPerfectScrollbar>
                <div class="content-table">
                    <div fxLayout="row" fxLayout.lt-md="column">
                        <!-- [@animateStagger]="{value:'50'}" -->
                        <mat-table class="minedu-table" #table [dataSource]="dataSource"
                            [class.isMobile]="isMobile" style="width: 100%" mineduPerfectScrollbar>
                            <ng-container matColumnDef="tipoSustento">
                                <mat-header-cell *matHeaderCellDef>TIPO DOCUMENTO</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;">
                                    <span class="mobile-label">TIPO DOCUMENTO:</span>
                                    {{row.descripcionTipoSustento}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="numeroDocumento">
                                <mat-header-cell *matHeaderCellDef>N° DOCUMENTO</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;">
                                    <span class="mobile-label">N° DOCUMENTO:</span>
                                    {{row.numeroDocumentoSustento}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fechaEmision">
                                <mat-header-cell *matHeaderCellDef>FECHA EMISIÓN</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;">
                                    <span class="mobile-label">FECHA EMISIÓN:</span>
                                    {{row.fechaEmision}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="tipoFormato">
                                <mat-header-cell *matHeaderCellDef>TIPO FORMATO</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;">
                                    <span class="mobile-label">TIPO FORMATO:</span>
                                    {{row.descripcionTipoFormato}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="folios">
                                <mat-header-cell *matHeaderCellDef>FOLIOS</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;" maxlength="">
                                    <span class="mobile-label">FOLIOS:</span> {{row.numeroFolios}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fechaRegistro">
                                <mat-header-cell *matHeaderCellDef>F.REGISTRO</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;">
                                    <span class="mobile-label">F.REGISTRO:</span>
                                    {{row.fechaRegistro}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;">
                                    <span class="mobile-label">ACCIONES:</span>
                                    <div class="mat-icon-table" style="padding-right: 2px;">
                                        <button mat-stroked-button color="primary"
                                            class="sidebar-toggle btn-sm ml-2"
                                            matTooltip="Ver información"
                                            (click)="handleInfo(row, i)">
                                            <mat-icon class="">info</mat-icon>
                                        </button>
                                    </div>
                                    <div *ngIf="!soloLectura" class="mat-icon-table"
                                        style="padding-right: 2px;">
                                        <button mat-stroked-button color="warn"
                                            class="sidebar-toggle btn-sm ml-2" matTooltip="Eliminar"
                                            (click)="hadleEliminarRow(row,i)">
                                            <mat-icon class="">restore_from_trash</mat-icon>
                                        </button>
                                    </div>
                                    <ng-container>
                                        <div class="mat-icon-table">
                                            <button mat-stroked-button color="warn"
                                                class="sidebar-toggle btn-sm ml-2"
                                                matTooltip="Ver documento sustento"
                                                (click)="descargarDocumentoSustento(row)">
                                                <mat-icon class="">picture_as_pdf</mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                            </mat-header-row>
                            <!-- [@animate]="{value:'*',params:{y:'100%'}}" -->
                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
                                matRipple>
                            </mat-row>
                        </mat-table>
                    </div>
                </div>
            </div>
            <div class="espacio-final"></div>
        </fieldset>

        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

            <button mat-raised-button color="primary" class="ml-4">
                <span class="material-icons">search</span> GUARDAR </button>

            <button mat-raised-button (click)="handleCancel()"><span
                    class="material-icons">block</span>
                CANCELAR</button>
        </div>
    </div>
</div>