<div class="page-layout carded fullwidth inner-scroll p-10" mineduPerfectScrollbar>
    <div class="page-layout carded left-sidebar inner-scroll">
        <div class="center">
            <div class="panel mt-12">
                <form autocomplete="off" novalidate [formGroup]="form">
                    <div class="panel-heading">
                        <h3 class="panel-title">Criterios de búsqueda</h3>
                    </div>
                    <div class="panel-body" fxLayout="row">

                        <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                            fxLayoutGap.lt-md="0">
                            <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                                fxLayoutGap="12px" fxLayoutGap.xs="0">
                                <div fxLayoutAlign="start start" fxFlex="33.3%" fxFlex.xs="100%">
                                    <minedu-datepicker mode="YEAR" label="Año"
                                        [mineduFormControl]="form.get('fechaConfiguracion')"
                                        [formControl]="form.get('fechaConfiguracion')" [max]="max"></minedu-datepicker>
                                </div>
                                <div fxLayoutAlign="start start" fxFlex="33.3%" fxFlex.xs="100%">
                                    <mat-form-field appearance="fill" fxFlex="100%"
                                        [mineduFormFieldValidationState]="form.get('idRegimenLaboral')">
                                        <mat-label [mineduFormRequiredLabel]="form.get('idRegimenLaboral')">Régimen
                                            laboral
                                        </mat-label>
                                        <mat-select formControlName="idRegimenLaboral">
                                            <mat-option value="-1">TODOS</mat-option>
                                            <mat-option *ngFor="let item of combo.regimenesLaborales"
                                                [value]="item.idRegimen">
                                                {{item.descripcionRegimen}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <minedu-form-field-validation-messages
                                                [mineduFormControl]="form.get('idRegimenLaboral')">
                                            </minedu-form-field-validation-messages>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxLayoutAlign="start start" fxFlex="33.3%" fxFlex.xs="100%">
                                    <mat-form-field appearance="fill" fxFlex="100%"
                                        [mineduFormFieldValidationState]="form.get('idEstado')">
                                        <mat-label [mineduFormRequiredLabel]="form.get('idEstado')">Estado
                                        </mat-label>
                                        <mat-select formControlName="idEstado">
                                            <mat-option value="-1">TODOS</mat-option>
                                            <mat-option *ngFor="let item of combo.estadosDesignacion"
                                                [value]="item.idCatalogoItem">
                                                {{item.descripcionCatalogoItem}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <minedu-form-field-validation-messages
                                                [mineduFormControl]="form.get('idEstado')">
                                            </minedu-form-field-validation-messages>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <!-- <div fxLayout="row" fxLayoutAlign="center center" *ngIf="permisoPassport.buttonConsultarProceso"> -->
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-0" fxLayout="row">
                                <minedu-button-clear [mineduForm]="form" (mineduOnClick)="handleLimpiar()"
                                    [working]="working">
                                </minedu-button-clear>
                            </div>
                            <div class="pl-6" fxLayout="row">
                                <minedu-button-search [mineduForm]="form" (mineduOnClick)="handleBuscar(form)"
                                    [working]="working">
                                </minedu-button-search>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="mb-10">
        <!-- <div class="pl-6" fxLayout="row" *ngIf="permisoPassport.buttonExportarProceso"> -->
        <div class="pl-6" fxLayout="row">
            <button mat-stroked-button color="primary" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
                (click)="handleExportar()" [disabled]="working"><span class="material-icons">get_app</span>
                Exportar</button>
        </div>
    </div>
    <table mat-table class="minedu-table box-shadow" [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>N°</th>
            <td mat-cell *matCellDef="let row;">{{row.registro}}</td>
        </ng-container>

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef>Codigo</th>
            <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
        </ng-container>

        <ng-container matColumnDef="tipoProceso">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let row">{{row.tipoProceso}}</td>
        </ng-container>

        <ng-container matColumnDef="regimenLaboral">
            <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Régimen laboral</th>
            <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs> {{row.regimenLaboral}} </td>
        </ng-container>

        <ng-container matColumnDef="grupoCargo">
            <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Grupo de cargos</th>
            <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.grupoCargo}}</td>
        </ng-container>

        <ng-container matColumnDef="etapaFase">
            <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Etapa/Fase</th>
            <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.etapaFase}}</td>
        </ng-container>

        <ng-container matColumnDef="numeroConvocatoria">
            <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>N° de convocatoria</th>
            <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.numeroConvocatoria}}</td>
        </ng-container>

        <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Fecha creación</th>
            <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.fechaCreacion}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Estado</th>
            <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                <span *ngIf="row.estado" class="h6 p-4" [ngClass]="{
                        'red-500':row.estado === 'ELIMINADO',
                        'green-600':row.estado === 'REGISTRADO',
                        'orange-500':row.estado === 'EN PROCESO',
                        'cyan-600':row.estado==='FINALIZADO',
                        'grey-900':row.estado==='CANCELADO'}">
                    {{row.estado}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let row; let  i = index;">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="mat-icon-table">
                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm"                            
                            (click)="handlePublicarPlazas(row)" aria-label="Publicación de Plazas" matTooltip="Publicación de Plazas">
                            <mat-icon class="">grid_on</mat-icon>
                        </button>
                    </div>
                    <div class="mat-icon-table">
                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm"                           
                            (click)="handleCalificaciones(row)" aria-label="Calificaciones" matTooltip="Calificaciones">
                            <mat-icon class="">library_add_check</mat-icon>
                        </button>
                    </div>
                    <div class="mat-icon-table">
                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm"
                            (click)="handleAdjudicacion(row)" aria-label="Adjudicación" matTooltip="Adjudicación">
                            <mat-icon class="">thumbs_up_down</mat-icon>
                        </button>
                    </div>
                    <div class="mat-icon-table">
                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm"
                            aria-label="Consolidado de plazas" matTooltip="Consolidado de plazas">
                            <mat-icon class="">list_alt</mat-icon>
                        </button>
                    </div>
                    <div class="mat-icon-table">
                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm"
                            (click)="handleInformacion(row)" aria-label="Ver información" matTooltip="Ver información">
                            <mat-icon class="">info</mat-icon>
                        </button>
                    </div>    
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
            [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}" (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false" [@animate]="{value:'*',params:{y:'100%'}}">
        </tr>
    </table>
    <div class="no-results" *ngIf="!(dataSource?.loading | async)"
        [style.display]="dataSource?.data.length === 0 ? '' : 'none'">
        No se encontraron registros
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container" *ngIf="dataSource?.loading | async">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <mat-paginator #paginator [length]="dataSource?.dataTotal" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
</div>