<div id="minedu-error-500" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">500</div>

        <div class="message">Bueno, rompiste el internet!</div>

        <div class="sub-message">
            Es broma, parece que tenemos un problema interno. Inténtalo de nuevo en unos minutos.
        </div>

        <a class="report-link" [routerLink]="'/ayni/personal'">Informar este problema</a>

    </div>

</div>