<div class="page-layout dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title">Búsqueda de documento de identidad</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0">
        <div *ngIf="working" fxLayout="column" fxLayoutAlign="center center">
            <mat-spinner [diameter]="50" style="margin: 0 auto;"></mat-spinner>
            <span>Espere, estamos procesando tu solicitud</span>
        </div>
        <fieldset class="fieldset-border mt-0 mb-12">
            <legend>Criterios de búsqueda</legend>
            <form [formGroup]="form" *ngIf="!working">
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.sm="column" fxFlex="100%" fxFlex.sm="100%" fxLayoutGap="12px"
                        fxLayoutGap.sm="0">
                        <mat-form-field appearance="fill" fxFlex="30%" fxFlex.sm="100%"
                            [mineduFormFieldValidationState]="form.get('idTipoDocumentoIdentidad')">
                            <mat-label [mineduFormRequiredLabel]="form.get('idTipoDocumentoIdentidad')">Tipo de
                                Documento
                            </mat-label>
                            <mat-select formControlName="idTipoDocumentoIdentidad">
                                <mat-option *ngFor="let item of comboLists.listTipoDocumento" [value]="item.value">
                                    {{item.label}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('idTipoDocumentoIdentidad')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="30%" fxFlex.sm="100%"
                            [mineduFormFieldValidationState]="form.get('numeroDocumentoIdentidad')">
                            <mat-label [mineduFormRequiredLabel]="form.get('numeroDocumentoIdentidad')">Número de
                                Documento</mat-label>
                            <input matInput formControlName="numeroDocumentoIdentidad" placeholder="Número de documento"
                                 (keydown.enter)="buscarServidorPublico()" [readonly] = "!form.get('idTipoDocumentoIdentidad').value" uppercase
                                 (keypress)="maxLengthnumeroDocumentoIdentidad==8? validaNumericos($event):true" [maxlength]="maxLengthnumeroDocumentoIdentidad">
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('numeroDocumentoIdentidad')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.sm="column" fxFlex="100%" fxFlex.sm="100%" fxLayoutGap="12px"
                        fxLayoutGap.sm="0">
                        <mat-form-field appearance="fill" fxFlex="30%" fxFlex.sm="100%"
                            [mineduFormFieldValidationState]="form.get('primerApellido')">
                            <mat-label [mineduFormRequiredLabel]="form.get('primerApellido')">Primer Apellido
                            </mat-label>
                            <input matInput formControlName="primerApellido" placeholder="Primero apellido"
                                maxlength="30">
                            <mat-error>
                                <minedu-form-field-validation-messages [mineduFormControl]="form.get('primerApellido')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="30%" fxFlex.sm="100%"
                            [mineduFormFieldValidationState]="form.get('segundoApellido')">
                            <mat-label [mineduFormRequiredLabel]="form.get('segundoApellido')">Segundo Apellido
                            </mat-label>
                            <input matInput formControlName="segundoApellido" placeholder="Segundo de documento"
                                maxlength="30">
                            <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('segundoApellido')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="40%" fxFlex.sm="100%"
                            [mineduFormFieldValidationState]="form.get('nombres')">
                            <mat-label [mineduFormRequiredLabel]="form.get('nombres')">Nombres</mat-label>
                            <input matInput formControlName="nombres" placeholder="Nombres" maxlength="30">
                            <mat-error>
                                <minedu-form-field-validation-messages [mineduFormControl]="form.get('nombres')">
                                </minedu-form-field-validation-messages>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px"
                        fxLayoutGap.xs="0" fxLayoutAlign="center center">
                        <div mat-dialog-actions class="p-0" fxLayout="row">
                            <button mat-raised-button (click)="handleLimpiar()"><span
                                    class="material-icons">remove</span>
                                LIMPIAR</button>
                        </div>
                        <div mat-dialog-actions class="" fxLayout="row" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button color="primary" (click)="handleBuscar()"><span
                                    class="material-icons">search</span> BUSCAR</button>
                        </div>
                    </div>
                </div>
                <br><br>
            </form>
        </fieldset>
        <div class="mb-2">
            <span class="minedu-note">Doble click en una de las filas de la tabla para seleccionar el documento de identidad</span>
        </div>

        <div ngClass.lt-lg="scroll-grid-lt-lg">
            <table mat-table class="minedu-table" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

                <ng-container matColumnDef="registro">
                    <th mat-header-cell *matHeaderCellDef>N°</th>
                    <td mat-cell *matCellDef="let row;">
                        <span>{{row.registro}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="numeroDocumentoIdentidadCompleto">
                    <th mat-header-cell *matHeaderCellDef>DOCUMENTO</th>
                    <td mat-cell *matCellDef="let row;">
                        <span>{{row.numeroDocumentoIdentidadCompleto}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="nombreCompleto">
                    <th mat-header-cell *matHeaderCellDef>APELLIDOS Y NOMBRES</th>
                    <td mat-cell *matCellDef="let row;">
                        <span>{{row.nombreCompleto}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="fechaNacimiento">
                    <th mat-header-cell *matHeaderCellDef >FECHA DE NACIMIENTO</th>
                    <td mat-cell *matCellDef="let row;" >
                        <span>{{row.fechaNacimiento | date: 'dd/MM/yyyy'}}</span> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="edad">
                    <th mat-header-cell *matHeaderCellDef >EDAD</th>
                    <td mat-cell *matCellDef="let row;" >
                        <span>{{row.edad}}</span> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="nacionalidad">
                    <th mat-header-cell *matHeaderCellDef >NACIONALIDAD</th>
                    <td mat-cell *matCellDef="let row;" >
                        <span>{{row.pais}}</span> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="estadoCivil">
                    <th mat-header-cell *matHeaderCellDef >ESTADO CIVIL</th>
                    <td mat-cell *matCellDef="let row;" >
                        <span>{{row.estadoCivil}}</span> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef >ESTADO</th>
                    <td mat-cell *matCellDef="let row;" >
                        <span>{{row.estado}}</span> 
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                    (click)="onSelect(row)" (dblclick)="matDialogRef.close(selectedRow(row))"
                    [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" matRipple
                    [@animate]="{value:'*',params:{y:'100%'}}">
                </tr>
            </table>
        </div>
        <div class="no-results" *ngIf="!(dataSource?.loading | async)"
            [style.display]="dataSource?.data.length === 0 ? '' : 'none'">
            No se encontraron registros
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container"
            *ngIf="dataSource?.loading | async">
            <mat-spinner diameter="50"></mat-spinner>
        </div>
        <mat-paginator #paginator class="mat-paginator-sticky" [length]="dataSource?.totalregistro"
            [pageIndex]="this.globals.paginatorPageIndex" [pageSize]="this.globals.paginatorPageSize" fxLayoutAlign="center center"
            [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100]" showFirstLastButtons></mat-paginator>          

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button (click)="handleCancel()"><span class="material-icons">block</span> CERRAR</button>
    </div>
</div>