@import "@minedu/scss/minedu";
@import "@minedu/scss/comun";
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}
.badge-primary {
    color: #fff;
    background-color: #007bff;
}


.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
 
.minedu-ver-informacion-adjudicacion-dialog{

    @include media-breakpoint('xs') {
        width: 100%;
    }   

    @include media-breakpoint('gt-xs') {       
        width: 1200px;
    }
    .panel {
        margin-bottom: 15px;
        background-color: #fff;
        border: 0;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        .panel-heading {
            padding: 8px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background-color: #0073b7;
            >h3.panel-title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 15px;
                color: #fff;
            }
        }
        .panel-body {
            padding: 15px 15px 0;
        }
        .panel-footer {
            padding: 10px 15px;
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }

    .mat-dialog-container {
        padding: 0;       

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;

            .mat-toolbar-row{
                height: 48px;
            }
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .mat-raised-button {
        border: 1px solid #ccc;
        line-height: 34px;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }  

    .minedu-note{
        font-style: italic;
        font-weight: 700;
        color: #0073B7;        
    }

    .minedu-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .direccion {
            position: relative;
            cursor: pointer;
            height: 84px;
        }           
        .mat-column-iged {
            flex: 0 1 200px;            
        }
        .mat-column-codigoPlaza {
            flex: 0 1 150px;            
        }       
        .mat-column-centroTrabajo {
            flex: 0 1 250px;            
        }  
        .mat-column-tipoPlaza {
            flex: 0 1 150px;            
        }   
        .mat-column-regimenLaboral {
            flex: 0 1 180px;            
        }    
        .mat-column-condicionLaboral {
            flex: 0 1 180px;
        }    
        .mat-column-modalidad {
            flex: 0 1 180px;            
        }          
        .mat-column-nivelEducativo {
            flex: 0 1 180px;          
        }  
        .mat-column-areaCurricular {
            flex: 0 1 180px;            
        }   
        .mat-column-cargo {
            flex: 0 1 200px;            
        }
        .mat-column-jornadaLaboral {
            flex: 0 1 100px;            
        }       
        .mat-header-cell, 
        .mat-cell {
            padding: 0 10px 0 10px; 
        }
        .mat-header-cell:not(:last-child),
        .mat-cell:not(:last-child){
            border-right: 1px solid rgb#ddd;
        }     
    }
    
    .mat-th-detalle{
            border-style: solid ;
            border-width: 1px;
            color: rgb(172, 173, 175);
          }
    .mat-table-detalle{
        width: 100%;
        border-collapse: collapse;
    }
         
    
        
      
   
}
 