<minedu-anular-cts-29944 [form]="form" fxFlex="100%" *ngIf="esVisiablects29944()"></minedu-anular-cts-29944>
<minedu-anular-cts-276 [form]="form" fxFlex="100%" *ngIf="esVisiablects276()"></minedu-anular-cts-276>
<minedu-anular-credito-devengado [form]="form" fxFlex="100%" *ngIf="esVisiableCreditoDevengado()"></minedu-anular-credito-devengado>
<minedu-anular-subsidio-familiar [form]="form" fxFlex="100%" *ngIf="esVisiableSubsidioFamiliar()"></minedu-anular-subsidio-familiar>
<minedu-anular-vacacion-trunca [form]="form" fxFlex="100%" *ngIf="esVisiableVacacionesTruncas()"></minedu-anular-vacacion-trunca>
<minedu-anular-ats-25 [form]="form" fxFlex="100%" *ngIf="esVisibleats25()"></minedu-anular-ats-25>
<minedu-anular-ats-30 [form]="form" fxFlex="100%" *ngIf="esVisibleats30()"></minedu-anular-ats-30>
<minedu-anular-gts-25 [form]="form" fxFlex="100%" *ngIf="esVisiblegts25()"></minedu-anular-gts-25>
<minedu-anular-bonificacion-familiar [form]="form" fxFlex="100%" *ngIf="esVisibleBonificacionFamiliar()"></minedu-anular-bonificacion-familiar>
<minedu-anular-bonificacion-personal [form]="form" fxFlex="100%" *ngIf="esVisibleBonificacionPersonal()"></minedu-anular-bonificacion-personal>
<minedu-anular-incentivo-profesional [form]="form" fxFlex="100%" *ngIf="esVisibleIncentivoProfesional()"></minedu-anular-incentivo-profesional>
<minedu-anular-incentivo-estudios [form]="form" fxFlex="100%" *ngIf="esVisibleIncentivoEstudios()"></minedu-anular-incentivo-estudios>
<minedu-anular-premio-anual [form]="form" fxFlex="100%" *ngIf="esVisiblePremioAnual()"></minedu-anular-premio-anual>