<div class="page-layout carded fullwidth inner-scroll p-0" mineduPerfectScrollbar>
    <div class="page-layout carded left-sidebar inner-scroll">
        <div class="content" mineduPerfectScrollbar>
            <div class="panel">
                <form>
                    <div class="panel-body">
                        <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                            fxLayoutGap.lt-md="0">
                            <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                                fxLayoutGap="12px" id="etapa">
                                <div fxLayoutAlign="start start" fxFlex="15%" fxFlex.xs="100%">
                                    <div>
                                        <span class="label">Instancia</span>
                                        <br>
                                        <span class="label-normal">{{instancia}}</span>
                                    </div>
                                </div>
                                <div fxLayoutAlign="start start" fxFlex="15%" fxFlex.xs="100%">
                                    <div>
                                        <span class="label">Sub Instancia</span>
                                        <br>
                                        <span class="label-normal">{{subinstancia}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel">
                <div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Proceso y Etapa</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                                    fxLayoutGap="12px">

                                    <div fxLayoutAlign="start start" fxFlex="10%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Año</span>
                                            <br>
                                            <span class="label-normal">{{etapa?.anio}}</span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="10%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Código</span>
                                            <br>
                                            <span class="label-normal">{{etapa?.codigo}}</span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="10%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Regimen Laboral</span>
                                            <br>
                                            <span class="label-normal">{{etapa?.regimen_laboral}}</span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="30%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Proceso</span>
                                            <br>
                                            <span class="label-normal">{{etapa?.proceso}}</span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="10%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">N° de Convocatoria</span>
                                            <br>
                                            <span class="label-normal">{{etapa?.numero_convocatoria}}</span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="10%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Etapa</span>
                                            <br>
                                            <span class="label-normal" id="etapa">{{etapa?.etapa}}</span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="10%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Fecha de Creación</span>
                                            <br>
                                            <span class="label-normal">{{etapa?.fecha_creacion |
                                                date:"dd/MM/yyyy"}}</span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="10%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Estado</span>
                                            <br>
                                            <span class="label-normal">{{etapa?.estado}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Criterios de búsqueda</h3>
                    </div>
                    <div class="panel-body">
                        <form [formGroup]="form">
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%"
                                    fxLayoutGap="12px" fxLayoutGap.xs="0">
                                    <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%">
                                        <mat-icon matPrefix>search</mat-icon>
                                        <mat-label>Codigo Modular</mat-label>
                                        <input matInput placeholder="Codigo Modular" formControlName="idCodigoModular">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%">
                                        <mat-icon matPrefix>search</mat-icon>
                                        <mat-label>Codigo de Plaza</mat-label>
                                        <input matInput placeholder="Codigo de Plaza" formControlName="idCodigoPlaza">
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div class="p-0" fxLayout="row">
                            <button mat-raised-button (click)="handleLimpiar()">
                                <span class="material-icons">clear</span>
                                Limpiar
                            </button>
                        </div>
                        <div class="pl-6" fxLayout="row">
                            <button mat-raised-button color="primary" class="ml-4" (click)="handleBuscar()">
                                <span class="material-icons">search</span>
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-libre">
                <div fxLayout="row" fxLayoutAlign="end center" class="mb-10">
                    <ng-container *ngIf="!situacion">
                        <div mat-dialog-actions class="p-0" fxLayout="row">
                            <button mat-raised-button color="primary" class="ml-4" (click)="aprobarRechazar('APROBAR')"
                                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                                <span class="material-icons mr-4">done</span>APROBAR PLAZAS
                            </button>
                        </div>
                        <div mat-dialog-actions class="p-0" fxLayout="row">
                            <!-- <button mat-stroked-button color="primary" (click)="handleRechazarPlazas()" class="ml-4" -->
                            <button mat-stroked-button color="primary" (click)="aprobarRechazar('RECHAZAR')" class="ml-4"
                                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                                <span class="material-icons mr-4" style="color: red;">close</span>RECHAZAR PLAZAS
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <mat-tab-group (selectedTabChange)="handleSelectTab($event)">
                        <mat-tab label="Plazas a convocar">
                            <minedu-convocar-plazas-convocadas [etapaProceso]="etapaResponse"></minedu-convocar-plazas-convocadas>
                            <!-- <minedu-plazas-convocadas [etapaProceso]="etapaResponse" [consolidadoPlaza]="consolidadoPlaza"></minedu-plazas-convocadas> -->
                            <!-- <minedu-convocar-plazas-convocadas></minedu-convocar-plazas-convocadas> -->
                        </mat-tab>
                        <mat-tab label="Plazas observadas">
                            <minedu-convocar-plazas-observadas [etapaProceso]="etapaResponse"></minedu-convocar-plazas-observadas>
                            <!-- <minedu-plazas-observadas [etapaProceso]="etapaResponse" [consolidadoPlaza]="consolidadoPlaza"></minedu-plazas-observadas> -->
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>