<minedu-datos-personales-info [vacaciones]="vacaciones"></minedu-datos-personales-info>
<minedu-servidor-publico-info [vacaciones]="vacaciones"></minedu-servidor-publico-info>
<!-- test -->
<minedu-datos-resolucion-info (mostrarDocumentoEvent)="mostrarDocumento($event)"
    [vacaciones]="vacaciones"></minedu-datos-resolucion-info>
    
<minedu-datos-vacaciones-info [form]="form" [vacaciones]="vacaciones" [actividadResolucion]="actividadResolucion"
    [ver]="ver"></minedu-datos-vacaciones-info> 