<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mr-4">info</mat-icon>
                <span class="title dialog-title">{{ dialogTitle }}</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <div *ngIf="working" fxLayout="column" fxLayoutAlign="center center">
            <mat-spinner [diameter]="50" style="margin: 0 auto;"></mat-spinner>
            <span>Espere, estamos procesando tu solicitud</span>
        </div>


        <fieldset class="fieldset-border mt-0 mb-12">
            <!--
            <legend>Documento Sustento</legend>
            -->
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px"
                    fxLayoutGap.xs="0">

                    <div fxLayoutAlign="start start" fxFlex="30%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Tipo experiencia</span>
                            <br>
                            <span class="label-normal">{{experienciaLaboral?.descripcionTipoExperiencia}} </span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="30%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Cargo </span>
                            <br>
                            <span class="label-normal">{{experienciaLaboral?.cargoExperienciaLaboral}} </span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="40%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Nivel</span>
                            <br>
                            <span class="label-normal">{{experienciaLaboral?.descripcionNivelExperiencia}} </span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="40%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Tipo entidad</span>
                            <br>
                            <span class="label-normal">{{experienciaLaboral?.descripcionTipoEntidad}} </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px"
                    fxLayoutGap.xs="0">

                    <div fxLayoutAlign="start start" fxFlex="30%" fxFlex.xs="100%">
                        <div>
                            <span class="label">nombre entidad
                            </span>
                            <br>
                            <span class="label-normal">{{experienciaLaboral?.nombreEntidad}} </span>
                        </div>
                    </div>

                    <div fxLayoutAlign="start start" fxFlex="30%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Año inicio</span>
                            <br>
                            <span class="label-normal">{{experienciaLaboral?.fechaInicio}} </span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="40%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Año fín</span>
                            <br>
                            <span class="label-normal">{{experienciaLaboral?.fechaFin}} </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px"
                    fxLayoutGap.xs="0">
                                   
                    <div fxLayoutAlign="start start" fxFlex="50%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Documento escaneado</span>
                            <br>
                            <button mat-stroked-button color="warn" class="sidebar-toggle btn-sm ml-2"
                                aria-label="Descargar Documento escaneado" matTooltip="Descargar Documento escaneado"
                                (click)="descargarResolucion()">
                                <mat-icon class="">picture_as_pdf</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </fieldset>

        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button (click)="handleCancel()"><span class="material-icons">block</span>
                CANCELAR</button>
        </div>
    </div>