@import "@minedu/scss/minedu";
@import "@minedu/scss/comun";
:host {
    width: 100%;
}

minedu-cabecera-plaza-encargatura {
    width: 100%;

    .mb-2, .my-2 {
        margin-bottom: 0.8rem !important;
    }
    
    .mt-2, .my-2 {
        margin-top: 0.8rem !important;
    }
    
    .campo-estado {
        text-align: left;
        width: 100%;
        // border-radius: 5px;
    }
    .whiteText{
        color: white !important;
    }
    .black-600{
        background-color: black;
    }
}