<minedu-cts-29944 [form]="form" fxFlex="100%" *ngIf="esVisiblects29944()"></minedu-cts-29944>
<minedu-cts-276 [form]="form" fxFlex="100%" *ngIf="esVisiblects276()"></minedu-cts-276>
<minedu-credito-devengado [form]="form" fxFlex="100%" *ngIf="esVisibleCreditoDevengado()"></minedu-credito-devengado>
<minedu-subsidio-familiar [form]="form" fxFlex="100%" *ngIf="esVisibleSubsidioFamiliar()"></minedu-subsidio-familiar>
<minedu-vacacion-trunca [form]="form" fxFlex="100%" *ngIf="esVisibleVacacionesTruncas()"></minedu-vacacion-trunca>
<minedu-ats-25 [form]="form" fxFlex="100%" *ngIf="esVisibleats25()"></minedu-ats-25>
<minedu-ats-30 [form]="form" fxFlex="100%" *ngIf="esVisibleats30()"></minedu-ats-30>
<minedu-gts-25 [form]="form" fxFlex="100%" *ngIf="esVisiblegts25()"></minedu-gts-25>
<minedu-bonificacion-familiar [form]="form" fxFlex="100%" *ngIf="esVisibleBonificacionFamiliar()"></minedu-bonificacion-familiar>
<minedu-bonificacion-personal [form]="form" fxFlex="100%" *ngIf="esVisibleBonificacionPersonal()"></minedu-bonificacion-personal>
<minedu-incentivo-profesional [form]="form" fxFlex="100%" *ngIf="esVisibleIncentivoProfesional()"></minedu-incentivo-profesional>
<minedu-incentivo-estudios [form]="form" fxFlex="100%" *ngIf="esVisibleIncentivoEstudios()"></minedu-incentivo-estudios>
<minedu-premio-anual [form]="form" fxFlex="100%" *ngIf="esVisiblePremioAnual()"></minedu-premio-anual>




