<mat-form-field appearance="fill" fxFlex [mineduFormFieldValidationState]="mineduFormControl">
    <mat-label [mineduFormRequiredLabel]="mineduFormControl">{{label}}</mat-label>
    <input matInput
           [matDatepicker]="datepicker"
           [max]="_max" [min]="_min"
           [formControl]="_inputCtrl"
           [matDatepickerFilter]="_customFilter"
           (click)="_openDatepickerOnClick(datepicker)"
           (focus)="_openDatepickerOnFocus(datepicker)"
           readonly>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-error>
            <minedu-form-field-validation-messages
                [mineduFormControl]="mineduFormControl">
            </minedu-form-field-validation-messages>
        </mat-error>
  </mat-form-field>
  <mat-datepicker #datepicker
                  [touchUi]="touchUi"
                  startView="multi-year"
                  (yearSelected)="_yearSelectedHandler($event,datepicker)"
                  (monthSelected)="_monthSelectedHandler($event,datepicker)"
                  panelClass="month-picker">
  </mat-datepicker>
  