<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title">Registrar reclamo</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <form [formGroup]="form">
        <div mat-dialog-content class="p-20 pb-0 m-0" fusePerfectScrollbar>
            <div *ngIf="working" fxLayout="column" fxLayoutAlign="center center">
                <mat-spinner [diameter]="50" style="margin: 0 auto"></mat-spinner>
                <span>Espere, estamos procesando tu solicitud</span>
            </div>
            <fieldset class="fieldset-border mt-0 mb-12">
                <legend>Datos del reclamo</legend>
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px"
                        fxLayoutGap.xs="0">
                        <div fxLayoutAlign="start start" fxFlex="100%" fxFlex.xs="100%">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Detalle del reclamo (*)</mat-label>
                                <textarea name="reclamo" formControlName="reclamo" matInput type="text" matTextareaAutosize
                                    [readonly]="this.postulante.conReclamo"
                                    [matAutosizeMinRows]="4" [matAutosizeMaxRows]="20" uppercase></textarea>
                                <mat-error>
                                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('reclamo')"></minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button (click)="handleGuardar()" color="primary" 
            class="ml-4" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
            *ngIf="!this.postulante.conReclamo">
            <span class="material-icons">save</span>Guardar
        </button>
        <minedu-button-cancel (mineduOnCancel)="handleCancelar()"></minedu-button-cancel>
    </div>
</div>