<button type="button"
    mat-raised-button
    color="accent"
    class="save-button"
    *ngIf="!mineduForm.valid"
    [disabled]="!mineduForm.valid"
    [@animate]="{ value: '*', params: { delay: '300ms', scale: '.2' } }"
>
    <span class="material-icons">save</span> GUARDAR
</button>
<button type="button"
    mat-raised-button
    color="accent"
    class="save-button"
    *ngIf="mineduForm.valid && working"
    [disabled]="working"
    [@animate]="{ value: '*', params: { delay: '300ms', scale: '.2' } }"
>
    <span class="material-icons">save</span> Guardando...
</button>
<button type="button"
    mat-raised-button
    color="accent"
    class="save-button"
    (click)="onClickChild($event)"
    *ngIf="mineduForm.valid && !working"
    [disabled]="working"
    [@animate]="{ value: '*', params: { delay: '300ms', scale: '.2' } }"
>
    <span class="material-icons">save</span> GUARDAR
</button>
