<div class="page-layout carded fullwidth inner-scroll p-10" mineduPerfectScrollbar>
    <div class="page-layout carded left-sidebar inner-scroll">
        <div class="center">
            <div class="panel mt-12">
               
                <div class="panel-body" >
                    <div class="h3">
                        AÑO: {{2020}} - MES: {{2020}}
                     </div>
                    <mat-tab-group>
                        <mat-tab label="Consolidado por centro de trabajo">
                                <minedu-centro-trabajo></minedu-centro-trabajo>                            
                        </mat-tab>
                            <mat-tab label="Omisos y remitidos fuera de plazo">
                                <minedu-omisos></minedu-omisos>
                            </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>
