<div class="content" mineduPerfectScrollbar>
    <div fxLayout="column" class="pl-2 pr-2">
        <div class="panel">
            <div class="panel-body">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Criterios de búsqueda</h3>
                    </div>
                    <br>
                    <div class="panel-body">
                        <form [formGroup]="form">
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%"
                                    fxLayoutGap="12px" fxLayoutGap.xs="0">
                                    <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%"
                                        [mineduFormFieldValidationState]="form.get('idMotivoAccion')">
                                        <mat-label [mineduFormRequiredLabel]="form.get('idMotivoAccion')">Motivo de
                                            acción
                                        </mat-label>
                                        <mat-select formControlName="idMotivoAccion">
                                            <mat-option *ngFor="let item of comboLists.listMotivoAccion"
                                                [value]="item.value">
                                                {{ item.label }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <minedu-form-field-validation-messages
                                                [mineduFormControl]="form.get('idMotivoAccion')">
                                            </minedu-form-field-validation-messages>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%"
                                        [mineduFormFieldValidationState]="form.get('idEstadoLicencia')">
                                        <mat-label [mineduFormRequiredLabel]="form.get('idEstadoLicencia')">Estado
                                        </mat-label>
                                        <mat-select formControlName="idEstadoLicencia">
                                            <mat-option *ngFor="let item of comboLists.listEstadoLicencia"
                                                [value]="item.value">
                                                {{ item.label }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <minedu-form-field-validation-messages
                                                [mineduFormControl]="form.get('idEstadoLicencia')">
                                            </minedu-form-field-validation-messages>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-0" fxLayout="row">
                                <button mat-stroked-button (click)="handleLimpiar()">
                                    <span class="material-icons">clear</span> Limpiar
                                </button>
                            </div>
                            <div class="pl-6" fxLayout="row">
                                <button mat-raised-button color="primary" class="ml-4" (click)="handleBuscar()">
                                    <span class="material-icons">search</span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div fxLayout="row" fxLayoutAlign="end center" class="mb-10">
                    <div mat-dialog-actions class="p-0" fxLayout="row">
                        <button mat-raised-button color="primary" (click)="handleNuevo()" class="ml-4"
                            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"><span
                                class="material-icons">add_circle</span>
                            NUEVA LICENCIA</button>
                    </div>
                    <div mat-dialog-actions class="p-0" fxLayout="row">
                        <button mat-stroked-button color="primary" (click)="handleExportar()" class="ml-4"
                            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"><span
                                class="material-icons">get_app</span> EXPORTAR</button>
                    </div>
                </div>
                <br>
                <div class="content" mineduPerfectScrollbar>
                    <div class="content-table">
                        <div fxLayout="row" fxLayout.lt-md="column">
                            <mat-table class="minedu-table" #table [dataSource]="dataSource" [class.isMobile]="isMobile"
                                [@animateStagger]="{value:'50'}" style="width: 100%" mineduPerfectScrollbar>

                                <ng-container matColumnDef="registro">
                                    <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index;">
                                        <span class="mobile-label">N°:</span> {{row.registro}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="descripcionAccion">
                                    <mat-header-cell *matHeaderCellDef>ACCIÓN</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index;">
                                        <span class="mobile-label">ACCIÓN:</span> {{row.descripcionAccion}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="descripcionMotivoAccion">
                                    <mat-header-cell *matHeaderCellDef>MOTIVO ACCIÓN
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index;">
                                        <span class="mobile-label">MOTIVO ACCIÓN:</span>
                                        {{row.descripcionMotivoAccion}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fechaInicio">
                                    <mat-header-cell *matHeaderCellDef>FECHA INICIO</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index;">
                                        <span class="mobile-label">FECHA INICIO:</span> {{row.fechaInicio}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fechaFin">
                                    <mat-header-cell *matHeaderCellDef>FECHA FIN</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index;">
                                        <span class="mobile-label">FECHA FIN:</span> {{row.fechaFin}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="cantidadDias">
                                    <mat-header-cell *matHeaderCellDef>CANTIDAD DÍAS
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index;">
                                        <span class="mobile-label">CANTIDAD DÍAS:</span> {{row.cantidadDias}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="estadoLicencia">
                                    <mat-header-cell *matHeaderCellDef>ESTADO</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index;">
                                        <span class="mobile-label">ESTADO:</span>
                                        <ng-container [ngSwitch]="true">
                                            <ng-container
                                                *ngSwitchCase="row.codigoEstadoLicencia === estadoLicencia.REGISTRADO">
                                                <p class="badge badge-success badge-width">{{row.estadoLicencia}}
                                                </p>
                                            </ng-container>
                                            <ng-container
                                                *ngSwitchCase="row.codigoEstadoLicencia === estadoLicencia.ENVIADO">
                                                <p class="badge badge-primary badge-width">{{row.estadoLicencia}}
                                                </p>
                                            </ng-container>
                                            <ng-container
                                                *ngSwitchCase="row.codigoEstadoLicencia === estadoLicencia.PENDIENTE_DE_PROYECTO">
                                                <p class="badge badge-default badge-width">{{row.estadoLicencia}}
                                                </p>
                                            </ng-container>
                                            <ng-container
                                                *ngSwitchCase="row.codigoEstadoLicencia === estadoLicencia.EN_PROYECTO">
                                                <p class="badge badge-warning badge-width">{{row.estadoLicencia}}
                                                </p>
                                            </ng-container>

                                            <ng-container
                                                *ngSwitchCase="row.codigoEstadoLicencia === estadoLicencia.RESOLUCION">
                                                <p class="badge badge-info badge-width">{{row.estadoLicencia}}</p>
                                            </ng-container>
                                            <ng-container
                                                *ngSwitchCase="row.codigoEstadoLicencia === estadoLicencia.ELIMINADO">
                                                <p class="badge badge-danger badge-width">{{row.estadoLicencia}}</p>
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                <p class="badge badge-default badge-width">{{row.estadoLicencia}}
                                                </p>
                                            </ng-container>
                                        </ng-container>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="codigoResolucion">
                                    <mat-header-cell *matHeaderCellDef>Nº RESOLUCIÓN
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index;">
                                        <span class="mobile-label">Nº RESOLUCIÓN:</span> {{row.codigoResolucion}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="acciones">
                                    <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let  i = index;">
                                        <span class="mobile-label">ACCIONES:</span>
                                        <div fxLayout="row" fxLayoutAlign="space-between center">
                                            <div style="padding-left: 10px;"></div>
                                            <div class="mat-icon-table"
                                                *ngIf="row?.codigoEstadoLicencia != estadoLicencia.ELIMINADO">
                                                <button mat-stroked-button color="primary"
                                                    class="sidebar-toggle btn-sm ml-2" aria-label="Ver información"
                                                    matTooltip="Ver información" (click)="handleViewInfo(row, i)">
                                                    <mat-icon class="">info</mat-icon>
                                                </button>
                                            </div>
                                            <div class="mat-icon-table"
                                                *ngIf="row?.codigoEstadoLicencia == estadoLicencia.REGISTRADO">
                                                <button mat-stroked-button color="primary"
                                                    class="sidebar-toggle btn-sm ml-2" aria-label="Modificar"
                                                    matTooltip="Modificar" (click)="handleEditar(row, i)">
                                                    <mat-icon class="">create</mat-icon>
                                                </button>
                                            </div>
                                            <div class="mat-icon-table"
                                                *ngIf="row?.codigoEstadoLicencia == estadoLicencia.REGISTRADO">
                                                <button mat-stroked-button color="warn"
                                                    class="sidebar-toggle btn-sm ml-2" aria-label="Eliminar"
                                                    matTooltip="Eliminar" (click)="handleEliminar(row, i)">
                                                    <mat-icon class="remove">delete_forever</mat-icon>
                                                </button>
                                            </div>
                                            <div class="mat-icon-table"
                                                *ngIf="row?.codigoEstadoLicencia == estadoLicencia.EN_PROYECTO">
                                                <button mat-stroked-button color="warn"
                                                    class="sidebar-toggle btn-sm ml-2"
                                                    aria-label="Ver proyecto de resolución" matTooltip="Ver proyecto de resolución"
                                                    (click)="descargarResolucion(row)">
                                                    <mat-icon class="">picture_as_pdf</mat-icon>
                                                </button>
                                            </div>
                                            <div class="mat-icon-table"
                                                *ngIf="row?.codigoEstadoLicencia == estadoLicencia.RESOLUCION">
                                                <button mat-stroked-button color="warn"
                                                    class="sidebar-toggle btn-sm ml-2" aria-label="Ver resolución"
                                                    matTooltip="Ver resolución" (click)="descargarResolucion(row)">
                                                    <mat-icon class="">picture_as_pdf</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"
                                    (click)="selection.toggle(row)"
                                    [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" matRipple
                                    [@animate]="{value:'*',params:{y:'100%'}}">
                                </mat-row>
                            </mat-table>
                        </div>
                        <div class="no-results" *ngIf="!(dataSource.loading | async)"
                            [style.display]="dataSource.data.length === 0 ? '' : 'none'">
                            No se encontraron registros
                        </div>
                        <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container"
                            *ngIf="dataSource.loading | async">pageSize
                            <mat-spinner diameter="50"></mat-spinner>
                        </div>
                        <mat-paginator #paginator class="mat-paginator-sticky" [length]="dataSource.dataTotal"
                            [pageIndex]="paginatorPageIndex" [pageSize]="paginatorPageSize"
                            [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>