<!-- Inicio Breadcrumb -->
<div fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
        <div fxFlex="50%">
            <h3 class="titulo">Plazas</h3>
        </div>
        <div fxFlex="50%">
            <ol class="breadcrumb pull-right">
                <li><a [routerLink]="['/ayni/personal/inicio']"><mat-icon color="accent" class="s-18">home</mat-icon> Inicio</a></li>
                <li><a [routerLink]="['/ayni/personal/inicio']"> Personal</a></li>
                <li><a [routerLink]="['/ayni/personal/inicio']"> Desarrollo de procesos</a></li>
                <li><a [routerLink]="['/ayni/personal/procesospersonal/procesos/encargatura']"> Encargatura</a></li>
                <li class="active"><a (click)="irPlaza()">Plazas</a></li>    

            </ol>
        </div>
    </div>
</div>
<!-- Fin Breadcrumb -->
<div class="page-layout carded fullwidth inner-scroll p-0">
    <div class="page-layout carded left-sidebar inner-scroll">
        <div class="content">
            <minedu-cabecera-desarrollo-proceso-encargatura #CabeceraDesarrolloProcesoEncargatura [idDesarrolloProceso]="idDesarrolloProceso"></minedu-cabecera-desarrollo-proceso-encargatura>
            <div class="panel">                
                <div class="panel-heading">
                    <h3 class="panel-title">Criterios de búsqueda</h3>
                </div>
                <div class="panel-body">    
                    <form [formGroup]="form">                            
                        <div fxLayout="row wrap">                            
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxFlex.lt-sm="100%" fxLayoutGap="12px">
                                <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%">
                                    <mat-label [mineduFormRequiredLabel]="form.get('codigoModular')">
                                        Código Modular
                                    </mat-label>
                                    <input matInput formControlName="codigoModular" 
                                    minlength="6" maxlength="7" (keyup.enter)="handleBuscar()"
                                    onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    <mat-icon matSuffix class="cursor-pointer" (click)="busquedaCentroTrabajoPersonalizada()">search</mat-icon>
                                    <mat-error>
                                        <minedu-form-field-validation-messages [mineduFormControl]="form.get('codigoModular')"></minedu-form-field-validation-messages>                                           
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%">
                                    <mat-label [mineduFormRequiredLabel]="form.get('codigoPlaza')">
                                        Código de Plaza
                                    </mat-label>
                                    <input matInput formControlName="codigoPlaza"
                                    minlength="12" maxlength="12" (keyup.enter)="handleBuscar()"
                                    onkeyup="javascript:this.value=this.value.toUpperCase();"
                                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)" />
                                    <mat-icon matSuffix class="cursor-pointer" (click)="busquedaPlazaPersonalizada()">search</mat-icon>
                                    <mat-error>
                                        <minedu-form-field-validation-messages [mineduFormControl]="form.get('codigoPlaza')"></minedu-form-field-validation-messages>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="25%" fxFlex.xs="100%"
                                    *ngIf="selectedTabIndex == 3">
                                    <mat-label [mineduFormRequiredLabel]="form.get('codigoResultadoFinal')">Estado
                                    </mat-label>
                                    <mat-select formControlName="codigoResultadoFinal">
                                        <mat-option value="-1">--TODOS--</mat-option>
                                        <mat-option *ngFor="let item of comboLists.listResultadoFinal"
                                            [value]="item.value">
                                            {{ item.label }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        <minedu-form-field-validation-messages
                                            [mineduFormControl]="form.get('codigoResultadoFinal')">
                                        </minedu-form-field-validation-messages>
                                    </mat-error>
                                </mat-form-field>
                            </div>                            
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div class="p-0" fxLayout="row">
                            <button mat-raised-button (click)="handleLimpiar()"><span
                                class="material-icons">clear</span> LIMPIAR</button>
                        </div>
                        <div class="pl-6" fxLayout="row">
                            <button mat-raised-button color="primary" class="ml-4" (click)="handleBuscar()"><span
                                class="material-icons">search</span> BUSCAR</button>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="panel">
                <div class="panel-body">            
                    <ng-container *ngIf="!!plazaEncargatura">
                        <minedu-cabecera-plaza-encargatura
                            (onChangeEstadoValidacionPlaza)="loadPlazaEncargatura($event)"
                            [plazaEncargatura]="plazaEncargatura"
                            [controlesActivos]="controlesActivos"
                            [currentSession]="currentSession"></minedu-cabecera-plaza-encargatura>
                    </ng-container>
                    <mat-tab-group (selectedTabChange)="handleSelectTab($event)" [selectedIndex]="selectedTabIndex">
                        <mat-tab label="Plazas Prepublicadas">
                            <minedu-pestana-plaza-encargatura (onChangePlazaEncargatura)="loadPlazaEncargatura($event)"
                                (onChangeTabIndex)="setTabIndex($event)" [selectedTabIndex]="0"
                                [codigoMaestroProceso]="codigoMaestroProceso" [codigoEtapa]="codigoEtapa" 
                                [plazaEncargatura]="plazaEncargatura" 
                                [controlesActivos]="controlesActivos" [request]="request"
                                [currentSession]="currentSession"
                                [idEtapaProceso]="idEtapaProceso" [idDesarrolloProceso]="idDesarrolloProceso">
                            </minedu-pestana-plaza-encargatura>
                        </mat-tab>
                        <mat-tab label="Plazas a Convocar">
                            <minedu-pestana-plaza-encargatura 
                                (onChangeTabIndex)="setTabIndex($event)" [selectedTabIndex]="1" 
                                [codigoMaestroProceso]="codigoMaestroProceso" [codigoEtapa]="codigoEtapa" 
                                [plazaEncargatura]="plazaEncargatura"
                                [controlesActivos]="controlesActivos"  [request]="request" 
                                [currentSession]="currentSession"
                                [idEtapaProceso]="idEtapaProceso" [idDesarrolloProceso]="idDesarrolloProceso">
                            </minedu-pestana-plaza-encargatura>
                        </mat-tab>
                        <mat-tab label="Plazas Observadas">
                            <minedu-pestana-plaza-encargatura 
                                (onChangeTabIndex)="setTabIndex($event)" [selectedTabIndex]="2" 
                                [codigoMaestroProceso]="codigoMaestroProceso" [codigoEtapa]="codigoEtapa" 
                                [plazaEncargatura]="plazaEncargatura"
                                [controlesActivos]="controlesActivos"  [request]="request" 
                                [currentSession]="currentSession"
                                [idEtapaProceso]="idEtapaProceso" [idDesarrolloProceso]="idDesarrolloProceso">
                            </minedu-pestana-plaza-encargatura>
                        </mat-tab>
                        <mat-tab label="Resultado Final">
                            <minedu-pestana-plaza-encargatura [selectedTabIndex]="3" 
                                [codigoMaestroProceso]="codigoMaestroProceso" [codigoEtapa]="codigoEtapa" 
                                [plazaEncargatura]="plazaEncargatura" 
                                [controlesActivos]="controlesActivos" [request]="request"
                                [currentSession]="currentSession"
                                [idEtapaProceso]="idEtapaProceso" [idDesarrolloProceso]="idDesarrolloProceso">
                            </minedu-pestana-plaza-encargatura>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="panel-footer">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-stroked-button (click)="handleGoAscenso()"><span
                                class="material-icons">arrow_back</span> RETORNAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>