<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mr-4">description</mat-icon>
                <span class="title dialog-title">Ver Información Sanciones</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-8 pb-0 m-0">
        <div fxLayout="column">
                <fieldset class="fieldset-border">
                    <legend>Acción de Personal</legend>
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px">
                            
                           
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Grupo de Acción</label>
                                    <p class="form-control-static p1" >
                                        {{historial.detalleCabecera.grupoAccion}}</p>
                                </div>
                            </div>
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Acción</label>
                                    <p class="form-control-static p1" >
                                        {{historial.detalleCabecera.accion}}</p>                                    
                                </div>
                            </div>
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Motivo de Acción</label>
                                    <p class="form-control-static p1" >
                                        {{historial.detalleCabecera.motivoAccion}}</p>
                                </div>
                            </div>
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                            </div>
                        </div>
                        
                    </div>
                </fieldset>

                <div class="nexus">
                    <span class="h6 p-4 historialnexus">
                        HISTORIAL NEXUS
                    </span>
                </div>

                <br>


                <fieldset class="fieldset-border">
                    <legend>Datos de Sanción</legend>
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px">
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Número Resolución</label>
                                    <p class="form-control-static p1" *ngIf="historial.detalleCabecera.numeroResolucion">
                                        {{historial.detalleCabecera.numeroResolucion}}</p>
                                    <p class="form-control-static p1 p25" *ngIf="!historial.detalleCabecera.numeroResolucion"> </p>                                    
                                </div>
                            </div>
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Fecha Resolución</label>
                                    <p class="form-control-static p1" >
                                        {{historial.detalleCabecera.fechaResolucion}}</p>
                                </div>
                            </div>
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Causa y/o Motivo</label>
                                    <p class="form-control-static p1" >
                                        {{historial.detalleSancion.causaMotivo}}</p>
                                </div>
                            </div>
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Fecha Notificación</label>
                                    <p class="form-control-static p1" >
                                        {{historial.detalleSancion.fechaNotificacion}}</p>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px">
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Cantidad Días</label>
                                    <p class="form-control-static p1" *ngIf="historial.detalleSancion.cantidadDias">
                                        {{historial.detalleSancion.cantidadDias}}</p>
                                    <p class="form-control-static p1 p25" *ngIf="!historial.detalleSancion.cantidadDias"> </p>         
                                </div>
                            </div>
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Fecha Inicio</label>
                                    <p class="form-control-static p1" >
                                        {{historial.detalleSancion.fechaInicio}}</p>
                                </div>
                            </div>
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                <div class="form-group">
                                    <label for="" class="label">Fecha Termino</label>
                                    <p class="form-control-static p1" >
                                        {{historial.detalleSancion.fechaTermino}}</p>
                                </div>
                            </div>
                            <div class="ml-4" fxLayoutAlign="start start" fxFlex="25%" fxFlex.lt-md="100%"
                                fxFlex.xs="100%">
                                
                            </div>
                        </div>

                      
                        
                    </div>
                </fieldset>

            </div>
    </div>
    <div mat-dialog-actions class="panel-footer m-0" fxLayout="row" fxLayoutAlign="end center">
        
        <div class="pl-6">            
            <button mat-raised-button (click)="handleCancelar()" style="right: 7px">
                <span class="material-icons">block</span> CERRAR
            </button>
        </div>
    </div>
</div>

