<fieldset class="fieldset-border">
    <legend>Informe de Cálculo del Beneficio</legend>
    <div fxLayout="row wrap"  fxFlex="100%" fxLayoutGap="12px"
        fxLayoutGap.lt-md="0" >
        <div fxLayout="row" fxFlex="100%" fxFlex.lt-sm="100%"
            fxLayoutGap="12px" fxLayoutGap.xs="0" [formGroup]="form">
           
            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%" >
                <div class="form-group" fxFlex="100%" >
                    <label for="">N° Informe de Calculo</label>
                    <p class="form-control-static" *ngIf="form.get('numeroInformeCalculo').value">
                        {{form.get('numeroInformeCalculo').value}}</p>
                    <p class="form-control-static" *ngIf="!form.get('numeroInformeCalculo').value">No registrado</p>
                </div>
            </div>     
            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                <div class="form-group" fxFlex="100%" >
                    <label for="">Fecha de inicio</label>
                    <p class="form-control-static" *ngIf="form.get('fechaBeneficio').value">
                        {{form.get('fechaBeneficio').value  | date: 'dd/MM/yyyy' }}</p>
                    <p class="form-control-static" *ngIf="!form.get('fechaBeneficio').value">No registrado</p>
                </div>
            </div>  
           
            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                <div fxLayout="column">
                    <mat-label [mineduFormRequiredLabel]="form.get('conInformeCalculo')">
                        Con Informe de Cálculo
                    </mat-label>
                    <div>
                        <mat-label ngClass="labelBeforeSlide">NO</mat-label>                                            
                        <mat-slide-toggle formControlName="conInformeCalculo" [disabled]="true">SI
                        </mat-slide-toggle>
                    </div>        
                </div>
            </div>    
            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                <div class="form-group" fxFlex="100%">
                </div>
            </div>                          
        </div>
        <div class="content" mineduPerfectScrollbar>
            <div class="content-table" style="overflow-x: auto;">
                <div fxLayout="row" fxLayout.lt-md="column">
                    <mat-table class="minedu-table" #table [dataSource]="dataSource" [class.isMobile]="isMobile" [@animateStagger]="{ value: '50' }" 
                        style="width: 100%">
                        <ng-container matColumnDef="numero">
                            <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index">
                                
                                <span class="mobile-label">N°:</span> 
                                {{ row.numero }}
                                
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="mesInicioVacacionesTruncas">
                            <mat-header-cell *matHeaderCellDef>Mes de Inicio</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index">
                                <div >
                                    <span class="mobile-label">Mes Inicio:</span> 
                                    {{ row.mesInicioTexto }}
                                </div>
                                
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="mesFinVacacionesTruncas">
                            <mat-header-cell *matHeaderCellDef>Mes Fin</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index">
                                <div >
                                    <span class="mobile-label">Mes Fin:</span> 
                                    {{ row.mesFinTexto }}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="anioVacacionesTruncas">
                            <mat-header-cell *matHeaderCellDef>Año</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index">
                                <div >
                                    <span class="mobile-label">Año:</span> 
                                    {{ row.anioVacacionesTruncas }}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="cantidadMeses">
                            <mat-header-cell *matHeaderCellDef>Cantidad de Meses</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index">
                                <div >
                                    <span class="mobile-label">Cantidad de Meses:</span> 
                                    {{ row.cantidadMeses }}
                                </div>
                                
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="importeRemuneracionMensual">
                            <mat-header-cell *matHeaderCellDef>Remuneración Mensual S/.</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index">
                                <div>
                                    <span class="mobile-label">Remuneración Mensual S/.:</span> 
                                    {{ row.importeRemuneracionMensual | currency:'':'' }}
                                </div>
                                
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="importeBeneficio">
                            <mat-header-cell *matHeaderCellDef>Monto a Pagar S/.</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index">
                                <div >
                                    <span class="mobile-label">Monto a Pagar S/.:</span> 
                                    {{ row.importeBeneficio | currency:'':'' }}
                                </div>
                                
                            </mat-cell>
                        </ng-container>                                    
                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    </mat-table>
                </div>
                <div class="no-results" *ngIf="!(dataSource.loading | async)"
                    [style.display]="dataSource.data.length === 0 ? '' : 'none'">
                    No se encontraron registros
                </div>
               
            </div>
        </div>
                     
    </div>
</fieldset>