<div class="page-layout carded fullwidth inner-scroll p-16" mineduPerfectScrollbar>
    <div class="page-layout carded left-sidebar inner-scroll">
        <div class="center">
            <!-- Inicio Breadcrumb -->
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxFlex="50%">
                        <h2>Gestionar Comité</h2>
                    </div>
                    <div fxFlex="50%">
                        <ol class="breadcrumb pull-right">
                            <li><a [routerLink]="['/ayni/personal/inicio']"><mat-icon color="accent" class="s-18">home</mat-icon>Inicio</a></li>
                            <li><a [routerLink]="['/ayni/personal/inicio']">Personal</a></li>
                            <li><a [routerLink]="['/ayni/personal/procesospersonal/gestion']">Gestión de procesos</a></li>
                            <li class="active"><a>Gestionar Comité</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Fin Breadcrumb -->

            <div fxLayout="column">

                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Proceso</h3>
                    </div>
                    <div class="panel-body">
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
                                fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="14%">
                                    <div class="form-group" fxFlex="40%" fxFlex.xs="100%">
                                        <label class="label">Año</label>
                                        <p class="form-control-static" *ngIf="cabeceraProceso?.anio">
                                            {{cabeceraProceso.anio}}</p>
                                    </div>
                                    <div class="form-group" fxFlex="60%" fxFlex.xs="100%">
                                        <label class="label">Código</label>
                                        <p class="form-control-static" *ngIf="cabeceraProceso?.codigoProceso">
                                            {{cabeceraProceso.codigoProceso}}</p>
                                    </div>
                                </div>

                                <div fxLayoutAlign="start start" fxFlex="27%" fxFlex.xs="100%">
                                    <div class="form-group" fxFlex="100%">
                                        <label class="label">Régimen Laboral</label>
                                        <p class="form-control-static" *ngIf="cabeceraProceso?.descripcionRegimenLaboral">
                                            {{cabeceraProceso.descripcionRegimenLaboral}}</p>
                                    </div>
                                </div>

                                <div fxLayoutAlign="start start" fxFlex="17%" fxFlex.xs="100%">
                                    <div class="form-group" fxFlex="100%">
                                        <label class="label">Tipo Proceso</label>
                                        <p class="form-control-static" *ngIf="cabeceraProceso?.descripcionTipoProceso">
                                            {{cabeceraProceso.descripcionTipoProceso}}</p>
                                    </div>
                                </div>

                                <div fxLayoutAlign="start start" fxFlex="27%" fxFlex.xs="100%">
                                    <div class="form-group" fxFlex="100%">
                                        <label class="label">Proceso</label>
                                        <p class="form-control-static" *ngIf="cabeceraProceso?.descripcionMaestroProceso">
                                            {{cabeceraProceso.descripcionMaestroProceso}}</p>
                                    </div>
                                </div>

                                <div fxLayoutAlign="start start" fxFlex="15%" fxFlex.xs="100%">
                                    <div class="form-group" fxFlex="100%">
                                        <label class="label">N° Convocatoria</label>
                                        <p class="form-control-static" *ngIf="cabeceraProceso?.convocatoria">
                                            {{cabeceraProceso.convocatoria}}</p>
                                    </div>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" 
                                fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                                <div fxLayoutAlign="start start" fxFlex="14%" fxFlex.xs="100%">
                                    <div class="form-group" fxFlex="100%">
                                        <label class="label">Alcance del Proceso</label>
                                        <p class="form-control-static" *ngIf="cabeceraProceso?.alcanceProceso">
                                            {{cabeceraProceso.alcanceProceso}}</p>
                                    </div>
                                </div>

                                <div fxLayoutAlign="start start" fxFlex="27%" fxFlex.xs="100%">
                                    <div class="form-group" fxFlex="100%">
                                        <label class="label">Fecha de Creación</label>
                                        <p class="form-control-static" *ngIf="cabeceraProceso?.fechaCreacionProceso">
                                            {{cabeceraProceso.fechaCreacionProceso | date: 'dd/MM/yyyy'}}</p>
                                    </div>
                                </div>

                                <div fxLayoutAlign="start start" fxFlex="17%" fxFlex.xs="100%">
                                    <div class="form-group" fxFlex="100%">
                                        <label class="label">Estado</label>
                                        <p class="form-control-static" *ngIf="cabeceraProceso?.estadoProceso">
                                            {{cabeceraProceso.estadoProceso}}</p>
                                    </div>
                                </div>
                                <div fxLayoutAlign="start start" fxFlex="27%" fxFlex.xs="100%"></div>
                                <div fxLayoutAlign="start start" fxFlex="15%" fxFlex.xs="100%"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Criterios de búsqueda</h3>
                    </div>
                    <div class="panel-body">
                        <form autocomplete="off" novalidate [formGroup]="form">
                            <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100%">
                                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100%"
                                    fxFlex.lt-sm="100%" fxLayoutGap="12px">
                                    <div fxLayoutAlign="start end" fxFlex="25%" fxFlex.xs="100%">
                                        <mat-form-field appearance="fill" fxFlex="100%"
                                            [mineduFormFieldValidationState]="form.get('nombreComite')">
                                            <mat-label [mineduFormRequiredLabel]="form.get('nombreComite')">Nombre de
                                                Comite
                                            </mat-label>
                                            <mat-select formControlName="nombreComite">
                                                <mat-option value="-1">TODOS</mat-option>
                                                <mat-option *ngFor="let item of nombresComite"
                                                    [value]="item.descripcionNombreComite">
                                                    {{item.descripcionNombreComite}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <minedu-form-field-validation-messages
                                                    [mineduFormControl]="form.get('nombreComite')">
                                                </minedu-form-field-validation-messages>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayoutAlign="start end" fxFlex="25%" fxFlex.xs="100%">
                                        <mat-form-field appearance="fill" fxFlex="100%"
                                            [mineduFormFieldValidationState]="form.get('cargoComite')">
                                            <mat-label [mineduFormRequiredLabel]="form.get('cargoComite')">Cargo en el
                                                comite
                                            </mat-label>
                                            <mat-select formControlName="cargoComite">
                                                <mat-option value="-1">TODOS</mat-option>
                                                <mat-option *ngFor="let item of cargosComite"
                                                    [value]="item.descripcionCargoNombreComite">
                                                    {{item.descripcionCargoNombreComite}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <minedu-form-field-validation-messages
                                                    [mineduFormControl]="form.get('cargoComite')">
                                                </minedu-form-field-validation-messages>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayoutAlign="start end" fxFlex="25%" fxFlex.xs="100%">
                                        <mat-form-field appearance="fill" fxFlex="100%"
                                            [mineduFormFieldValidationState]="form.get('tipoMiembro')">
                                            <mat-label [mineduFormRequiredLabel]="form.get('tipoMiembro')">Tipo de
                                                miembro
                                            </mat-label>
                                            <mat-select formControlName="tipoMiembro">
                                                <mat-option value="-1">TODOS</mat-option>
                                                <mat-option *ngFor="let item of tiposMiembro"
                                                    [value]="item.descripcionTipoMiembrosComite">
                                                    {{item.descripcionTipoMiembrosComite}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <minedu-form-field-validation-messages
                                                    [mineduFormControl]="form.get('tipoMiembro')">
                                                </minedu-form-field-validation-messages>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayoutAlign="start end" fxFlex="25%" fxFlex.xs="100%">
                                        <mat-form-field appearance="fill" fxFlex="100%"
                                            [mineduFormFieldValidationState]="form.get('estadoComite')">
                                            <mat-label [mineduFormRequiredLabel]="form.get('estadoComite')">Estado
                                            </mat-label>
                                            <mat-select formControlName="estadoComite">
                                                <mat-option value="-1">TODOS</mat-option>
                                                <mat-option *ngFor="let item of estados" [value]="item.idCatalogoItem">
                                                    {{item.descripcionCatalogoItem}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <minedu-form-field-validation-messages
                                                    [mineduFormControl]="form.get('estadoComite')">
                                                </minedu-form-field-validation-messages>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="panel-footer" fxLayout="row" fxLayoutAlign="center center">
                        <div class="p-0" fxLayout="row">
                            <minedu-button-clear [mineduForm]="form" (mineduOnClick)="handleLimpiar()" [working]="working">
                            </minedu-button-clear>
                        </div>
                        <div class="pl-6" fxLayout="row">
                            <minedu-button-search [mineduForm]="form" (mineduOnClick)="handleBuscar()"
                                [working]="working">
                            </minedu-button-search>
                        </div>
                    </div>
                </div>

                <div fxLayoutAlign="space-between" fxLayoutGap="5px" style="padding-bottom: 10px;">
                    <div fxLayout="row" fxLayoutGap="5px">
                        <div class="pl-6" fxLayout="row">
                            <button mat-raised-button color="primary" (click)="btnGenerarProyecto()"
                                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
                                *ngIf="boton.generarProyectos">
                                <span class="material-icons">settings</span> Generar Proyecto
                            </button>
                            <button mat-raised-button color="primary" class="ml-2" (click)="btnVerProyectos()"
                                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" *ngIf="permiteVerProyectoResolucion()">
                                <span class="material-icons">insert_drive_file</span> Ver Proyecto
                            </button>
                        </div>

                    </div>
                    <div fxLayout="row" fxLayoutGap="5px">
                        <div class="pl-6" fxLayout="row" *ngIf="boton.nuevoMiembroComite">
                            <button mat-raised-button color="primary" (click)="btnCrear()"
                                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                                <span class="material-icons">add_circle</span> Nuevo Miembro
                            </button>
                        </div>
                        <div class="pl-6" fxLayout="row">
                            <button mat-raised-button color="primary" (click)="btnAprobarComite()"
                                *ngIf="boton.aprobarComite && dataSource?.data.length > 0 " [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                                <span class="material-icons">check_circle</span> Aprobar Comité
                            </button>
                            <button mat-raised-button color="primary" class="" (click)="btnVerComite()"
                                *ngIf="boton.verComite" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                                <span class="material-icons">insert_drive_file</span> Ver comité aprobado
                            </button>
                        </div>
                        <div class="pl-6" fxLayout="row" *ngIf="boton.modificarComite">
                            <button mat-raised-button color="primary" (click)="btnModificarComite()"
                                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                                <span class="material-icons">create</span> Modificar Comité
                            </button>
                        </div>
                        <div class="pl-6" fxLayout="row">
                            <button mat-stroked-button color="primary"
                                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
                                (click)="btnExportar()"><span class="material-icons">get_app</span>
                                Exportar</button>
                        </div>
                    </div>

                </div>

                <div ngClass.lt-lg="scroll-grid-lt-lg">
                    <table mat-table class="minedu-table" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
                        <ng-container matColumnDef="registro">
                            <th mat-header-cell *matHeaderCellDef>N°</th>
                            <td mat-cell *matCellDef="let row;">
                                <p>{{row.registro}}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nombreComite">
                            <th mat-header-cell *matHeaderCellDef>Nombre del comité</th>
                            <td mat-cell *matCellDef="let row">
                                <p *ngIf="row.nombreComite">{{row.nombreComite}}</p>
                                <p *ngIf="!row.nombreComite">No registrado</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="numeroDocumentoIdentidad">
                            <th mat-header-cell *matHeaderCellDef>Documento</th>
                            <td mat-cell *matCellDef="let row">
                                <p *ngIf="row.numeroDocumentoIdentidad">
                                    {{row.tipoDocumento}}:{{row.numeroDocumentoIdentidad}}</p>
                                <p *ngIf="!row.numeroDocumentoIdentidad">N/A</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nombresCompletos">
                            <th mat-header-cell *matHeaderCellDef>Apellidos y Nombres</th>
                            <td mat-cell *matCellDef="let row">
                                <p *ngIf="row.nombresCompletos">{{row.nombresCompletos}}</p>
                                <p *ngIf="!row.nombresCompletos">N/A</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="tipoMiembroComite">
                            <th mat-header-cell *matHeaderCellDef>Tipo de miembro</th>
                            <td mat-cell *matCellDef="let row">
                                <p *ngIf="row.tipoMiembroComite">{{row.tipoMiembroComite}}</p>
                                <p *ngIf="!row.tipoMiembroComite">N/A</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="cargoNombreComite">
                            <th mat-header-cell *matHeaderCellDef>Cargo en el comité</th>
                            <td mat-cell *matCellDef="let row">
                                <p *ngIf="row.cargoNombreComite">{{row.cargoNombreComite}}</p>
                                <p *ngIf="!row.cargoNombreComite">N/A</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="estadoComite">
                            <th mat-header-cell *matHeaderCellDef>Estado</th>
                            <td mat-cell *matCellDef="let row">
                                <p *ngIf="row.estadoComite" class="p-4" [ngClass]="
                                    {'green-600':row.codigoEstadoComite === codEstadoComite.Registrado,
                                    'red-500'   :row.codigoEstadoComite === codEstadoComite.Eliminado,
                                    'blue-A700' :row.codigoEstadoComite === codEstadoComite.Aprobado,
                                    'orange-800':row.codigoEstadoComite === codEstadoComite.Modificado}">
                                    {{row.estadoComite}}</p>
                                <p *ngIf="!row.estadoComite"></p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef>Acciones</th>
                            <td mat-cell *matCellDef="let row;">
                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px">

                                    <div class="mat-icon-table" *ngIf="permiteVerInformacionMiembroComite(row)">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm"
                                            (click)="btnInformacion(row)" aria-label="Ver información"
                                            matTooltip="Ver información">
                                            <mat-icon class="">info</mat-icon>
                                        </button>
                                    </div>
                                    <div class="mat-icon-table" *ngIf="permiteModificarMiembroComite(row)">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm"
                                            (click)="btnModificar(row)" aria-label="Modificar" matTooltip="Modificar">
                                            <mat-icon class="">create</mat-icon>
                                        </button>
                                    </div>
                                    <div class="mat-icon-table" *ngIf="permiteEliminarMiembroComite(row)">
                                        <button mat-stroked-button color="warn" class="sidebar-toggle btn-sm ml-2"
                                            (click)="btnEliminar(row)" aria-label="Eliminar" matTooltip="Eliminar">
                                            <mat-icon class="">restore_from_trash</mat-icon>
                                        </button>
                                    </div>
                                    <div class="mat-icon-table" *ngIf="permiteVerModificacionSustentoMiembroComite(row)">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm"
                                            (click)="handleSustentoModificacion(row)" aria-label="Ver sustento de modificación"
                                            matTooltip="Ver sustento de modificación">
                                            <mat-icon class="">remove_red_eye</mat-icon>
                                        </button>
                                    </div>


                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
                            [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
                            [@animate]="{value:'*',params:{y:'100%'}}">
                        </tr>
                    </table>
                </div>
                <div class="no-results" *ngIf="!(dataSource?.loading | async)"
                    [style.display]="dataSource?.data.length === 0 ? '' : 'none'">
                    No se encontraron registros
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container"
                    *ngIf="dataSource?.loading | async">
                    <mat-spinner diameter="50"></mat-spinner>
                </div>
                <mat-paginator #paginator [length]="dataSource?.dataTotal" [pageIndex]="0" [pageSize]="10" fxLayoutAlign="center center"
                    [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>

                <div fxLayout="row" fxLayoutAlign="end center" class="panel-footer">
                    <div class="pl-6" fxLayout="row">
                        <button mat-raised-button class="mr-8" (click)="handleRegresar()"
                            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                            <span class="material-icons">arrow_back</span> Retornar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>