@import "@minedu/scss/minedu";
:host{
    width: 100%;
}
minedu-bandeja-adenda {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    h3,
    .h3 {
        font-size: 16px;
    }    
    .f1 {
        margin-top: 0px;
    }
    .f2 {
        margin-bottom: 15px;
    }

    .center {
        .content-card {                

            @include media-breakpoint(xs) {               
                &.current-selected {
                    .toolbar {
                        padding-left: 16px !important;                       
                    }
                    .content {
                        width: 100%;
                    }
                }
            }
        }
    }   

    .panel {
        margin-bottom: 15px;
        background-color: #fff;
        border: 0;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        .panel-heading {
            padding: 8px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background-color: #0073b7;
            >h3.panel-title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 15px;
                color: #fff;
            }
        }
        .panel-body {
            padding: 15px 15px 0;
        }
        .panel-footer {
            padding: 10px 15px;
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
    .ml-2 {
        margin-left: 2px;
    }
    .pl-2 {
        padding-left: 2px;
    }
    .pl-6 {
        padding-left: 6px;
    }
    .pr-2 {
        padding-right: 2px;
    }
    .mb-8 {
        margin-bottom: 8px;
    }
    .mb-10 {
        margin-bottom: 10px;
    }
    .mb-15 {
        margin-bottom: 15px;
    }
    .mat-raised-button {
        border: 1px solid #ccc;
        line-height: 34px;
    }
    .mat-raised-button.mat-primary {
        background-color: #0073b7;
        border-color: #0073b7;
    }
 
    .mat-raised-button.mat-primary[disabled]{
        background-color: #0073b7 !important;
        border-color: #0073b7 !important;
        color: #fff !important;
    }
    .mat-stroked-button.mat-primary {
        color: #0073b7;
    }
    .mat-flat-button.mat-primary {
        background-color: #0073b7;
    }
    .mat-stroked-button:not([disabled]).mat-primary {
        border-color: #0073b7 !important;
        background-color: #fff !important;
    }
    .mat-stroked-button:not([disabled]).mat-warn {
        border-color: #f44336;
        background-color: #fff;
    }
    button .mat-button-wrapper .material-icons {
        font-size: 16px;
    }
    button.btn-sm {
        line-height: 24px;
        min-width: 27px;
        padding: 0;
    }
    button.btn-sm .mat-button-wrapper .material-icons {
        font-size: 16px;
    }
    button.btn-sm .mat-icon {
        height: 20px;
        width: 20px;
        min-width: 20px;
        min-height: 20px;
    }
    .btn-icon .mat-button-wrapper .material-icons {
        font-size: 22px!important;
    }
    .minedu-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .mat-icon-table{
            width: 30px;
        }
        .mat-column-nro {
            flex: 0 1 80px;            
        }
        .mat-column-numeroAdenda {
            flex: 0 1 100px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }
        .mat-column-fechaAdenda {
            flex: 0 1 100px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }
        .mat-column-motivoAccion {
            flex: 0 1 100px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }
        .mat-column-mandatoJudicial {
            flex: 0 1 100px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }
        .mat-column-numeroDocumentoIdentidad {
            flex: 0 1 150px;
            text-align: center;
            justify-content: space-around;
            width: 150px;
        }
        .mat-column-nombresCompletos {
            flex: 0 1 200px;
            text-align: center;
            justify-content: space-around;
            width: 200px;
        }
        .mat-column-fechaInicio {
            flex: 0 1 100px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }
        .mat-column-fechaFin {
            flex: 0 1 100px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }
        .mat-column-tipoDocumento {
            flex: 0 1 100px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }
        .mat-column-estado {
            flex: 0 1 150px;
            text-align: center;
            justify-content: space-around;
            width: 150px;
        }
        .mat-column-fechaFin {
            flex: 0 1 100px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }       
        
        .mat-column-opciones {
            flex: 0 1 150px;               
        }

        .mat-header-cell, 
        .mat-cell {
            padding: 0 10px 0 10px; 
        }
        .mat-header-cell:not(:last-child),
        .mat-cell:not(:last-child){
            border-right: 1px solid #ddd;
        }   
    }
    .box-shadow {
        -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    .mat-slide-toggle-content{
        vertical-align: top;
        display: inline-block;
        line-height: 24px; // this is defined in .mat-slide-toggle
    }

    .labelBeforeSlide {
        vertical-align: top;
        line-height: 24px; 
        margin-right:0.5rem;
        margin-bottom:0.5rem;
        font-weight: 600;
    }
    .form-group {
        margin-bottom: 5px;
    }
    
    label {
        font-weight: bold;
    }
    
    p {
        margin: 6px 0;
        color: rgba(0, 0, 0, .6);
    }
}
