<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mr-4">search</mat-icon>
                <span class="title dialog-title">Búsqueda de centro de trabajo</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-8 pb-0 m-0">
        <div fxLayout="column" fxFlexAlign="flex-start" fxLayoutAlign="start none">
            <form autocomplete="off" novalidate [formGroup]="form">
                <fieldset class="fieldset-border">
                    <legend>Criterios de búsqueda</legend>
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
                        <div class="ml-4" fxLayoutAlign="start start" fxFlex="33.3%" fxFlex.lt-md="100%">
                            <mat-form-field appearance="fill" fxFlex="100%"
                                [mineduFormFieldValidationState]="form.get('idInstancia')">
                                <mat-label [mineduFormRequiredLabel]="form.get('idInstancia')">Instancia
                                </mat-label>
                                <mat-select formControlName="idInstancia">
                                    <mat-option>--SELECCIONE UNA OPCIÓN--</mat-option>
                                    <mat-option *ngFor="let item of instancias" [value]="item.idInstancia">
                                        {{item.descripcionDre}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('idInstancia')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="ml-4" fxLayoutAlign="start start" fxFlex="33.3%" fxFlex.lt-md="100%">
                            <mat-form-field appearance="fill" fxFlex="100%"
                                [mineduFormFieldValidationState]="form.get('idSubinstancia')">
                                <mat-label [mineduFormRequiredLabel]="form.get('idSubinstancia')">Sub instancia
                                </mat-label>
                                <mat-select formControlName="idSubinstancia">
                                    <mat-option>--SELECCIONE UNA OPCIÓN--</mat-option>
                                    <mat-option *ngFor="let item of subinstancias" [value]="item.idSubinstancia">
                                        {{item.descripcionUgel}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('idSubinstancia')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="ml-4" fxLayoutAlign="start start" fxFlex="33.3%" fxFlex.lt-md="100%">
                            <mat-form-field appearance="fill" fxFlex="100%"
                                [mineduFormFieldValidationState]="form.get('idTipoCentroTrabajo')">
                                <mat-label [mineduFormRequiredLabel]="form.get('idTipoCentroTrabajo')">Tipo de centro de
                                    trabajo
                                </mat-label>
                                <mat-select formControlName="idTipoCentroTrabajo">
                                    <mat-option>--SELECCIONE UNA OPCIÓN--</mat-option>
                                    <mat-option *ngFor="let item of tiposCentroTrabajo"
                                        [value]="item.idTipoCentroTrabajo">
                                        {{item.descripcionTipoCentroTrabajo}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <minedu-form-field-validation-messages
                                        [mineduFormControl]="form.get('idTipoCentroTrabajo')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
                        <div class="ml-4" fxLayoutAlign="start start" fxFlex="66.6%" fxFlex.lt-md="100%">
                            <mat-form-field appearance="fill" fxFlex="100%"
                                [mineduFormFieldValidationState]="form.get('institucionEducativa')">
                                <mat-label [mineduFormRequiredLabel]="form.get('institucionEducativa')">
                                    Institución educativa
                                </mat-label>
                                <input matInput formControlName="institucionEducativa" uppercase>
                                <mat-error>
                                    <minedu-form-field-validation-messages
                                        [mineduFormControl]="form.get('institucionEducativa')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mb-20" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                        <div mat-dialog-actions fxLayout="row">
                            <button type="button" mat-raised-button (click)="limpiar()">
                                <span class="material-icons">clear</span> Limpiar</button>
                        </div>
                        <div mat-dialog-actions class="ml-12" fxLayout="row">
                            <button type="button" mat-raised-button color="primary" (click)="buscar()">
                                <span class="material-icons">search</span> Buscar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
           
            <div fxLayout="column" fxLayoutAlign="start none" class="mb-20 mt-14">
                <mat-table class="minedu-table" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

                    <ng-container matColumnDef="codigoCentroTrabajo">
                        <mat-header-cell *matHeaderCellDef>Código modular</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p *ngIf="row.codigoCentroTrabajo"> {{row.codigoCentroTrabajo}} </p>
                            <p *ngIf="!row.codigoCentroTrabajo"></p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="centroTrabajo">
                        <mat-header-cell *matHeaderCellDef>Centro de trabajo
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p *ngIf="row.centroTrabajo"> {{row.centroTrabajo}} </p>
                            <p *ngIf="!row.centroTrabajo"></p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="instancia">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Instancia
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                            <p *ngIf="row.instancia"> {{row.instancia}}</p>
                            <p *ngIf="!row.instancia"></p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="subInstancia">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Sub instancia
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                            <p *ngIf="row.subInstancia"> {{row.subInstancia}}</p>
                            <p *ngIf="!row.subInstancia"></p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tipoCentroTrabajo">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Tipo de centro de trabajo
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                            <p *ngIf="row.tipoCentroTrabajo"> {{row.tipoCentroTrabajo}}</p>
                            <p *ngIf="!row.tipoCentroTrabajo"></p>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                    </mat-header-row>
                    <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
                        (dblclick)="matDialogRef.close(selectedRow(row))"
                        [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                        (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" matRipple
                        [@animate]="{value:'*',params:{y:'100%'}}">
                    </mat-row>
                </mat-table>
                <div class="no-results" *ngIf="!(dataSource.loading | async)"
                    [style.display]="dataSource.data.length === 0 ? '' : 'none'">
                    No se encontraron registros
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container"
                    *ngIf="dataSource.loading | async">
                    <mat-spinner diameter="50"></mat-spinner>
                </div>
                <mat-paginator #paginator [length]="dataSource.dataTotal" [pageIndex]="0" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="panel-footer m-0 p-8" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
            (click)="handleSeleccionar()"><span class="material-icons">done</span>
            Seleccionar</button>
        <button mat-raised-button [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
            (click)="matDialogRef.close()">
            <span class="material-icons">close</span> Cerrar
        </button>
    </div>
</div>