<!-- PROGRESS BAR -->
<!-- <minedu-progress-bar></minedu-progress-bar> -->
<!-- / PROGRESS BAR -->

<!-- VERTICAL LAYOUT 1 -->
<ng-container *ngIf="mineduConfig.layout.style === 'minedu-vertical-layout-1'">
    <minedu-vertical-layout-1></minedu-vertical-layout-1>
</ng-container>
<!-- / VERTICAL LAYOUT 1 -->

<!-- VERTICAL LAYOUT 2 -->
<ng-container *ngIf="mineduConfig.layout.style === 'minedu-vertical-layout-2'">
    <minedu-vertical-layout-2></minedu-vertical-layout-2>
</ng-container>
<!-- / VERTICAL LAYOUT 2 -->

<!-- VERTICAL LAYOUT 3 -->
<ng-container *ngIf="mineduConfig.layout.style === 'minedu-vertical-layout-3'">
    <minedu-vertical-layout-3></minedu-vertical-layout-3>
</ng-container>
<!-- / VERTICAL LAYOUT 3 -->

<!-- HORIZONTAL LAYOUT 1 -->
<ng-container *ngIf="mineduConfig.layout.style === 'minedu-horizontal-layout'">
    <minedu-horizontal-layout></minedu-horizontal-layout>
</ng-container>
<!-- / HORIZONTAL LAYOUT 1 -->