<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mr-4">info</mat-icon>
                <span class="title dialog-title">Información completa de la plaza</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
     <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
                 <div  > 
                    <fieldset class="fieldset-border mb-3">
                        <legend>Datos del Centro de Trabajo</legend>
                        <div fxLayout="row" fxLayout.lt-md="column">
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                                    fxLayoutGap="12px">
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Código Modular</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.codigo_modular}}  </span>

                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Centro de Trabajo</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.centro_trabajo}} </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Instancia</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.instancia}} </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Sub instancia</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.subinstancia}} </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Modalidad</span>
                                            <br>
                                             <span class="label-normal">{{informacionplaza?.modalidad}} </span> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.lt-md="column">
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                                    fxLayoutGap="12px">
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Nivel Educativo</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.nivel_educativo}}  </span>

                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Tipo de gestión</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.tipo_gestion}} </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Dependencia</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.subinstancia}} </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Tipo de IIEE</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.tipo_institucion_educativa}} </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">EIB</span>
                                            <br>
                                             <span class="label-normal">{{informacionplaza?.es_bilingue == false ? "NO":"SI"}} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.lt-md="column">
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                                    fxLayoutGap="12px">
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Lengua Originaria</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.lengua_originaria}}  </span>

                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Forma de atención</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.forma_atencion}} </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Tipo de ruralidad</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.tipo_ruralidad}} </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Frontera</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.es_frontera == false ? "NO":"SI"}} </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">VRAEM</span>
                                            <br>
                                             <span class="label-normal">{{informacionplaza?.vraem}} </span> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset-border mb-3">
                        <legend>Datos de la Plaza</legend>
                        <div fxLayout="row" fxLayout.lt-md="column">
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                                    fxLayoutGap="12px">
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Código de Plaza</span>
                                            <br>
                                            <span class="label-normal"> {{informacionplaza?.codigo_plaza}}
                                            </span>

                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Área de desempeño</span>
                                            <br>
                                            <span class="label-normal"> {{informacionplaza?.area_desempenio_laboral}}
                                            </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Cargo</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.cargo}}</span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Jornada Laboral</span>
                                            <br>
                                            <span class="label-normal"> {{informacionplaza?.jornada_laboral}}
                                            </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Tipo de Plaza</span>
                                            <br>
                                             <span class="label-normal"> {{informacionplaza?.tipo_plaza}}
                                                </span> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.lt-md="column">
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                                    fxLayoutGap="12px">
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Área Curricular</span>
                                            <br>
                                            <span class="label-normal"> {{informacionplaza?.area_curricular}}
                                            </span>

                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Especialidad</span>
                                            <br>
                                            <span class="label-normal"> {{informacionplaza?.especialidad}}
                                            </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Vigencia Inicio</span>
                                            <br>
                                            <span class="label-normal">
                                                {{informacionplaza?.vigencia_inicio | date: 'dd/MM/yyyy' }}
                                            </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Vigencia Fin</span>
                                            <br>
                                            <span class="label-normal"> 
                                                {{informacionplaza?.vigencia_fin | date: 'dd/MM/yyyy' }}
                                            </span>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Régimen Laboral</span>
                                            <br>
                                             <span class="label-normal">{{informacionplaza?.regimen_laboral}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.lt-md="column">
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                                    fxLayoutGap="12px">
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <span class="label">Motivo de Vacante</span>
                                            <br>
                                            <span class="label-normal">{{informacionplaza?.motivo_vacancia}} </span>

                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <!-- <span class="label">Forma de atención</span> -->
                                            <br>
                                            <!-- <span class="label-normal">{{etapa.abreviaturaRegimenLaboral}} </span> -->
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <!-- <span class="label">Tipo de ruralidad</span> -->
                                            <br>
                                            <!-- <span class="label-normal">Lima </span> -->
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <!-- <span class="label">Frontera</span> -->
                                            <br>
                                            <!-- <span class="label-normal">{{etapa.codigoProceso}} </span> -->
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="start start" fxFlex="20%" fxFlex.xs="100%">
                                        <div>
                                            <!-- <span class="label">VRAEM</span> -->
                                            <br>
                                             <!-- <span class="label-normal">{{etapa.descripcionProceso}} </span>  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                  </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="primary" (click)="handleCancel()"><span class="material-icons">close</span> Cerrar</button>
    </div>
</div>