<form *ngIf="!soloLectura" [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-md="column">
        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
            <mat-form-field appearance="fill" fxFlex="33.3%" fxFlex.xs="100%"
                [mineduFormFieldValidationState]="form.get('idTipoCapacitacion')">
                <mat-label [mineduFormRequiredLabel]="form.get('idTipoCapacitacion')">
                    Tipo
                </mat-label>
                <mat-select formControlName="idTipoCapacitacion">
                    <mat-option *ngFor="let item of comboLists.listTipoCapacitacion" [value]="item.value">
                        {{item.label}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('idTipoCapacitacion')">
                    </minedu-form-field-validation-messages>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="66.7%" fxFlex.xs="100%"
                [mineduFormFieldValidationState]="form.get('nombreCapacitacion')">
                <mat-label [mineduFormRequiredLabel]="form.get('nombreCapacitacion')">Nombre</mat-label>
                <input matInput formControlName="nombreCapacitacion" placeholder="Nombre" maxlength="200">
                <mat-error>
                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('nombreCapacitacion')">
                    </minedu-form-field-validation-messages>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
            <minedu-datepicker label="Fecha de inicio" [mineduFormControl]="form.get('fechaInicio')"
                [formControl]="form.get('fechaInicio')" (ngModelChange)="configurarFechaFin()">
            </minedu-datepicker>
            <mat-error>
                <minedu-form-field-validation-messages [mineduFormControl]="form.get('fechaInicio')">
                </minedu-form-field-validation-messages>
            </mat-error>
            <minedu-datepicker label="Fecha de fin" [mineduFormControl]="form.get('fechaFin')"
                [formControl]="form.get('fechaFin')" [min]="minDate">
            </minedu-datepicker>
            <mat-error>
                <minedu-form-field-validation-messages [mineduFormControl]="form.get('fechaFin')">
                </minedu-form-field-validation-messages>
            </mat-error>
            <mat-form-field appearance="fill" fxFlex="33.3%" fxFlex.xs="100%"
                [mineduFormFieldValidationState]="form.get('duracionHoras')">
                <mat-label [mineduFormRequiredLabel]="form.get('duracionHoras')">Duración horas</mat-label>
                <input matInput formControlName="duracionHoras" placeholder="Año fin" maxlength="4" type="number">
                <mat-error>
                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('duracionHoras')">
                    </minedu-form-field-validation-messages>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
            <mat-form-field appearance="fill" fxFlex="33.3%" fxFlex.xs="100%"
                [mineduFormFieldValidationState]="form.get('institucionCapacitacion')">
                <mat-label [mineduFormRequiredLabel]="form.get('institucionCapacitacion')">Institución</mat-label>
                <input matInput formControlName="institucionCapacitacion" placeholder="Institución" maxlength="50">
                <mat-error>
                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('institucionCapacitacion')">
                    </minedu-form-field-validation-messages>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="33.3%" fxFlex.xs="100%"
                [mineduFormFieldValidationState]="form.get('lugarCapacitacion')">
                <mat-label [mineduFormRequiredLabel]="form.get('lugarCapacitacion')">Lugar</mat-label>
                <input matInput formControlName="lugarCapacitacion" placeholder="Lugar" maxlength="100">
                <mat-error>
                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('lugarCapacitacion')">
                    </minedu-form-field-validation-messages>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="33.3%" fxFlex.xs="100%"
                [mineduFormFieldValidationState]="form.get('codigoAdjuntoSustento')">
                <mat-label [mineduFormRequiredLabel]="form.get('codigoAdjuntoSustento')">
                    Adjuntar sustento</mat-label>
                <input matInput formControlName="codigoAdjuntoSustento" class="icon-cursor" (click)="file.click()"
                    readonly>
                <mat-icon matSuffix class="icon-cursor" (click)="file.click()">publish
                </mat-icon>
                <input hidden (change)="uploadFile(file.files)" #file type="file" id="file" accept="application/pdf">
                <mat-hint>Formato: PDF, tamaño máximo 2MB</mat-hint>
                <mat-error>
                    <minedu-form-field-validation-messages [mineduFormControl]="form.get('codigoAdjuntoSustento')">
                    </minedu-form-field-validation-messages>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="mb-10">
        <div mat-dialog-actions class="p-0" fxLayout="row">
            <button mat-stroked-button color="primary" (click)="handleAdd(form)"><span class="material-icons">add</span>
                AGREGAR</button>
        </div>
    </div>
</form>
<br *ngIf="!soloLectura">
<div class="content" mineduPerfectScrollbar>
    <div class="content-table">
        <div fxLayout="row" fxLayout.lt-md="column">
            <mat-table class="minedu-table" #table [dataSource]="dataSource" [class.isMobile]="isMobile"
                [@animateStagger]="{value:'50'}" style="width: 100%" mineduPerfectScrollbar>

                <ng-container matColumnDef="fechaRegistro">
                    <mat-header-cell *matHeaderCellDef>FECHA DE REGISTRO</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                        <span class="mobile-label">FECHA DE REGISTRO:</span> {{row?.fechaCreacion | date: 'dd/MM/yyyy'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="descripcionTipoCapacitacion">
                    <mat-header-cell *matHeaderCellDef>TIPO</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                        <span class="mobile-label">TIPO:</span> {{row?.descripcionTipoCapacitacion}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="nombreCapacitacion">
                    <mat-header-cell *matHeaderCellDef>NOMBRE</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                        <span class="mobile-label">NOMBRE:</span> {{row?.nombreCapacitacion}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaInicio">
                    <mat-header-cell *matHeaderCellDef>FECHA INICIO</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                        <span class="mobile-label">FECHA INICIO:</span> {{row?.fechaInicio | date: 'dd/MM/yyyy'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaFin">
                    <mat-header-cell *matHeaderCellDef>FECHA DE TÉRMINO</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;" maxlength="">
                        <span class="mobile-label">FECHA DE TÉRMINO:</span> {{row?.fechaFin | date: 'dd/MM/yyyy'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="duracionHoras">
                    <mat-header-cell *matHeaderCellDef>DURACIÓN</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                        <span class="mobile-label">DURACIÓN:</span> {{row?.duracionHoras}} horas
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="institucionCapacitacion">
                    <mat-header-cell *matHeaderCellDef>INSTITUCIÓN</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                        <span class="mobile-label">INSTITUCIÓN:</span> {{row?.institucionCapacitacion}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lugarCapacitacion">
                    <mat-header-cell *matHeaderCellDef>LUGAR</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                        <span class="mobile-label">LUGAR:</span> {{row?.lugarCapacitacion}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="sustento">
                    <mat-header-cell *matHeaderCellDef>SUSTENTO</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                        <span class="mobile-label">SUSTENTO:</span>
                        <div style="padding-left: 10px;"></div>
                        <div class="mat-icon-table">
                            <button mat-stroked-button color="warn" class="sidebar-toggle btn-sm ml-2"
                                matTooltip="Ver documento sustento" (click)="descargarAdjunto(row)">
                                <mat-icon class="">picture_as_pdf</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                        <span class="mobile-label">ACCIONES:</span>
                        <div style="padding-left: 10px;"></div>
                        <!--
                        <div class="mat-icon-table" style="padding-right: 2px;">
                            <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                matTooltip="Ver información" (click)="handleInfo(row, i)">
                                <mat-icon class="">info</mat-icon>
                            </button>
                        </div>
                        -->
                        <div *ngIf="!soloLectura" class="mat-icon-table" style="padding-right: 2px;">
                            <button mat-stroked-button color="warn" class="sidebar-toggle btn-sm ml-2"
                                matTooltip="Eliminar" (click)="hadleEliminarRow(row,i)">
                                <mat-icon class="">restore_from_trash</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" matRipple
                    [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
        </div>
    </div>
</div>