<div class="panel" style="padding:20px;">
    <div fxLayout="row" fxLayoutAlign="end center" class="mb-10">
        <div mat-dialog-actions class="p-0" fxLayout="row" fxFlex="70%" *ngIf="plazaBotonesGrillaActivos.btnMigrarPlazasDesiertas || (validacionPlaza == 'APERTURADO')||(validacionPlaza == 'PENDIENTE')">
            <button *ngIf="visibleMigrarPlaza && numeroConvocatoria != 'PRIMERA'" mat-stroked-button color="primary" (click)="handleMigrarPlazasDesiertas()" class="mr-4">
                <span class="material-icons">swap_horizontal_circle</span>
                Migrar plazas desiertas</button>
            <!-- <span *ngIf="visibleFechaMigrada">Fecha migrada: {{ fechaMigrada | date: 'dd/MM/yyyy' }}</span> -->
            <button mat-stroked-button color="primary" class="ml-4" *ngIf="plazaBotonesGrillaActivos.btnMigrarPlazasDesiertas || controlesActivos.btnIncorporarPlazas && jobEjecutado" [style.visibility]="true || (validacionPlaza != 'PRE PUBLICADO')||(validacionPlaza == 'APERTURADO')||(validacionPlaza == 'PENDIENTE') ? 'visible' : 'hidden'" (click)="handleIncorporarPlazas()" [@animate]="{value: '*',params: {delay: '300ms',scale: '.2'}}">
                <span class="material-icons">add_circle</span>
                INCORPORAR PLAZAS
            </button>
        </div>
        <div mat-dialog-actions fxLayoutAlign="end center" class="p-0" fxLayout="row" fxFlex="70%">
            <!-- <button mat-stroked-button color="primary" (click)="handlePrePublicar()" class="ml-4" [style.visibility]="(validacionPlaza == 'PRE PUBLICADO') ? 'hidden' : 'visible'" [@animate]="{value: '*',params: {delay: '300ms',scale: '.2'}}">
                <span class="material-icons">public</span>
                PUBLICAR PLAZAS
            </button>
            <button mat-stroked-button color="primary" class="ml-4" [style.visibility]="true || (validacionPlaza == 'PRE PUBLICADO') ? 'visible' : 'hidden'" (click)="handleAperturarPrePublicar()" [@animate]="{value: '*',params: {delay: '300ms',scale: '.2'}}">
                <span class="material-icons">refresh</span>
                APERTURAR PRE PUBLICACIÓN
            </button>
            <button mat-stroked-button color="primary" [style.visibility]="true || (validacionPlaza == 'PRE PUBLICADO') ? 'visible' : 'hidden'" (click)="handleVerPlazasPdf(false)" class="ml-4" *ngIf="true || validacionPlaza == 'PRE PUBLICADO'" [@animate]="{value: '*',params: {delay: '300ms',scale: '.2'}}">
                <span class="material-icons" style="color: red; margin-right: 2px;">
                    picture_as_pdf
                </span>
                VER PLAZAS PUBLICADAS
            </button> -->
            <!-- && controlesActivos.btnPlazasConvocar -->
            <!-- *ngIf="!soloLectura  " -->
            <!-- [style.visibility]="(validacionPlaza == 'PENDIENTE'||validacionPlaza == 'APERTURADO' || validacionPlaza == 'RECHAZADO') ? 'visible' : 'hidden'" -->

            <button mat-stroked-button color="primary" (click)="handlePlazasConvocar()" class="ml-4" 
            *ngIf="plazaBotonesGrillaActivos.btnPlazasConvocar && dataSourceDocentes?.dataTotal>0"
                                            [@animate]="{value: '*',params: {delay: '300ms',scale: '.2'}}">
                                            <span class="material-icons">done</span>
                                            Plazas a Convocar
            </button>
                                        <!-- *ngIf="!soloLectura && controlesActivos.btnVerPlazasPDF" -->
            <!-- *ngIf="!soloLectura && controlesActivos.btnPlazasObservadas" -->
            <!-- [style.visibility]="(validacionPlaza == 'PENDIENTE'||validacionPlaza == 'APERTURADO' || validacionPlaza == 'RECHAZADO') ? 'visible' : 'hidden'" -->
            <button mat-stroked-button color="primary" 
                (click)="handlePlazasObservar()" class="ml-4" 
                *ngIf="plazaBotonesGrillaActivos.btnPlazasObservados && dataSourceDocentes?.dataTotal>0"
                [@animate]="{value: '*',params: {delay: '300ms',scale: '.2'}}">
                <span class="material-icons" style="color: red; margin-right: 2px;">visibility</span>
                Plazas a Observados
            </button>


            <button *ngIf="plazaBotonesGrillaActivos.btnExportar || controlesActivos.btnExportar" mat-stroked-button color="primary" (click)="handleExportar()" class="ml-4" [@animate]="{ value: '*',params: {delay: '300ms',scale: '.2'}}">
                <span class="material-icons">get_app</span>
                EXPORTAR
            </button>
        </div>
    </div>
    <br />
    <div class="content" mineduPerfectScrollbar>
        <div class="content-table">
            <div fxLayout="row" fxLayout.lt-md="column">
                <mat-table class="minedu-table" #table [dataSource]="dataSourceDocentes" [class.isMobile]="isMobile" [@animateStagger]="{value: '50'}" style="width: 100%" mineduPerfectScrollbar>
                    <ng-container matColumnDef="registro" *ngIf="validacionPlaza != 'PRE PUBLICADO' && indiceSeleccionado!=3">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event? masterToggleDocentes(): null" [checked]="selectionDocentes.hasValue() && isAllSelectedDocentes()" [indeterminate]="selectionDocentes.hasValue() && !isAllSelectedDocentes()" [aria-label]="checkboxLabelDocentes()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event? selectionDocentes.toggle(row): null" [checked]="selectionDocentes.isSelected(row)" [aria-label]="checkboxLabelDocentes(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="registro" *ngIf="validacionPlaza == 'PRE PUBLICADO' && indiceSeleccionado!=3">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox [disabled]="true">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event? selectionDocentes.toggle(row): null" [checked]="selectionDocentes.isSelected(row)" [aria-label]="checkboxLabelDocentes(row)" [disabled]="true">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="registro" *ngIf="indiceSeleccionado==3">
                        <mat-header-cell *matHeaderCellDef>
                            <span>N°</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            <span>{{i+1}}</span>
                            <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="$event? selectionDocentes.toggle(row): null" [checked]="selectionDocentes.isSelected(row)" [aria-label]="checkboxLabelDocentes(row)" [disabled]="true">
                            </mat-checkbox> -->
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="codigo_modular">
                        <mat-header-cell *matHeaderCellDef>Código Modular</mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            {{ row.codigoModular }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="centro_trabajo">
                        <mat-header-cell *matHeaderCellDef>Centro de Trabajo</mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            {{ row.centroTrabajo }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="modalidad">
                        <mat-header-cell *matHeaderCellDef>Modalidad Educativa</mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            {{ row.modalidad }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nivel_educativo">
                        <mat-header-cell *matHeaderCellDef>Nivel Educativo</mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            {{ row.nivelEducativo }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipo_gestion">
                        <mat-header-cell *matHeaderCellDef>Tipo de Gestión</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index">
                            {{ row.tipoGestion }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="codigo_plaza">
                        <mat-header-cell *matHeaderCellDef>Código de Plaza</mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            {{ row.codigoPlaza }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="cargo">
                        <mat-header-cell *matHeaderCellDef>Cargo</mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            {{ row.cargo }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="resultado_final">
                        <mat-header-cell *matHeaderCellDef 
                        [ngStyle]="{display: esResultadoFinal === true? 'mat-cell' : 'none'}">Estado</mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index" 
                        [ngStyle]="{display: esResultadoFinal === true? 'mat-cell' : 'none'}">
                            {{ row.estadoValidacionPlaza }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="mat-icon-table">
                                    <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2" aria-label="Ver información" matTooltip="Ver información" (click)="handleViewInfo(row.id_plaza==null?row.idPlaza:row.id_plaza)">
                                        <mat-icon class="">info</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="row.situacionValidacion == 'INCORPORACIÓN' &&  validacionPlaza != 'PRE PUBLICADO'">
                                <div style="padding-left: 5px;"></div>
                                <div class="mat-icon-table">
                                    <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2" aria-label="Eliminar plaza incorporada" matTooltip="Eliminar plaza incorporada" (click)="handleEliminarPlazaIncorporada(row, i)">
                                        <mat-icon style="color: red;" class="">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumnsDocentes; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row;columns: displayedColumnsDocentes" [ngClass]="{hovered: row.hovered, selected: selectionDocentes.isSelected(row)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" matRipple [@animate]="{value: '*',params: { y: '100%' }}">
                    </mat-row>
                </mat-table>
            </div>
            <div class="no-results" *ngIf="!(dataSourceDocentes.loading | async)" [style.display]="dataSourceDocentes.data.length === 0 ? '' : 'none'">
                No se encontraron registros
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container" *ngIf="dataSourceDocentes.loading | async">
                pageSize
                <mat-spinner diameter="50"></mat-spinner>
            </div>
            <mat-paginator #paginatorDocentes class="mat-paginator-sticky" [length]="dataSourceDocentes.dataTotal" [pageIndex]="paginatorDocentesPageIndex" fxLayoutAlign="center center" [pageSize]="paginatorDocentesPageSize" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
            </mat-paginator>
            <div fxLayout="row" fxLayoutAlign="end center" class="mb-10" style="width: 100%" *ngIf=" dataSourceDocentes?.dataTotal > 0">
                <div mat-dialog-actions class="p-10" fxLayout="row" style="margin-right: 12px; width: 98%">
                    <span style="font-weight: bold">Total de plazas Contratación Docente:
                        {{ dataSourceDocentes?.dataTotal }}</span>
                    <span style="font-weight: bold;margin-left: 160px;">Plazas seleccionadas:
                        {{ this.selectionDocentes.selected.length }}
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-footer">
        <div fxLayout="row" fxLayoutAlign="end center" class="mb-10">
            <div mat-dialog-actions class="p-0" fxLayout="row">
                <button mat-stroked-button (click)="handleRetornar()">
                    <span class="material-icons">keyboard_backspace</span>
                    RETORNAR
                </button>
            </div>
        </div>
    </div>
</div>