<div class="page-layout dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title">Registrar reclamo</span>
            </div>
            <button mat-icon-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-dialog-content class="p-8 pb-0 m-0">
        <form [formGroup]="form">
            <div fxLayout="column" fxFlex="100%">
                <mat-form-field appearance="fill" fxFlex="100%">
                    <mat-label [mineduFormRequiredLabel]="form.get('detalleReclamo')">Detalle del reclamo</mat-label>
                    <textarea matInput formControlName="detalleReclamo" placeholder="Detalle del reclamo" rows="8" maxlength="4000" uppercase></textarea>
                    <mat-error>
                        <minedu-form-field-validation-messages [mineduFormControl]="form.get('detalleReclamo')"></minedu-form-field-validation-messages>
                    </mat-error>
                </mat-form-field>
                <span style="color: red;">(*) Dato Obligatorio</span>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxLayoutAlign="end center" fxLayoutAlign.xs="stretch">
        <button mat-raised-button color="primary" (click)="handleSave()"><span class="material-icons">save</span> Guardar</button>
        <button mat-raised-button (click)="handleCancel()"><span class="material-icons">cancel</span> Cancelar</button>
    </mat-dialog-actions>
</div>