<fieldset class="fieldset-border mb-2">
    <legend>Plaza postulada</legend>
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%">
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Código de plaza</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.codigoPlaza || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Regimen Laboral</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionRegimenLaboral  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Tipo de plaza</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionTipoPlaza  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Cargo</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionCargo  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Jornada Laboral</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionJornadaLaboral  || "NO REGISTRADO"}}</span>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%">
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Especialidad</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionEspecialidad  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Vigencia Inicio</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.vigenciaInicio  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Vigencia Fin</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.vigenciaFin  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Código Modular</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.codigoModular  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Centro de Trabajo</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.institucionEducativa  || "NO REGISTRADO"}}</span>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%">
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Modalidad Educativa</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionModalidadEducativa  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Nivel Educativo</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionNivelEducativo  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Tipo de IE</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionTipoIEPadron  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Tipo de Gestion</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionTipoGestionInstitucionEducativa  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Dependencia</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionDependenciaInstitucionEducativa  || "NO REGISTRADO"}}</span>
                </div>
            </div>            
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%">
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Modelo de servicio</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionModeloServicio  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Tipo de ruralidad</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.descripcionTipoRuralidad  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">Frontera</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.esFrontera  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">VRAEM</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.esVraem  || "NO REGISTRADO"}}</span>
                </div>
            </div>
            <div fxFlex="20%" fxFlex.xs="100%">
                <div>
                    <span class="label">EIB</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.esBilingue  || "NO REGISTRADO"}}</span>
                </div>
            </div>            
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%">
            <div fxFlex="40%" fxFlex.xs="100%">
                <div>
                    <span class="label">Motivo de Vacante</span>
                    <br>
                    <span class="label-normal">{{ plazaPostulacionEncargatura?.motivoVacancia  || "NO REGISTRADO"}}</span>
                </div>
            </div>
        </div>
    </div>
</fieldset>