@import "@minedu/scss/minedu";
@import "@minedu/scss/comun";
:host {
    width: 100%;
}

minedu-bandeja-incorporar-plaza {
    width: 100%;
    @include media-breakpoint("xs") {
        width: 100%;
    }
    
    @include media-breakpoint("gt-xs") {
        width: 100%;
        //width: 1200px;
    }
    .content{
        width: 100%;
    }
    // ocultar breacrum original
    .center, .ng-tns-c339-3{
        display: none !important;
    }
    .panel {
        margin-bottom: 15px;
        background-color: #fff;
        border: 0;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        .panel-heading {
            padding: 8px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background-color: #0073b7;
            > h3.panel-title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 15px;
                color: #fff;
            }
        }
        .panel-body {
            padding: 15px 15px 0;
        }
        .panel-footer {
            padding: 10px 15px;
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
    
    .mat-dialog-container {
        padding: 0;
        
        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
            
            .mat-toolbar-row {
                height: 48px;
            }
        }
        
        .toolbar-bottom {
            height: auto;
        }
    }
    
    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
    
    .minedu-note {
        font-style: italic;
        font-weight: 700;
        color: #0073b7;
    }
    
    .mat-raised-button {
        border: 1px solid #ccc;
        
        line-height: 34px;
    }
    .minedu-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	width:175%;
        .mat-icon-table{
            width: 30px;
        }
        .mat-column-registro {
            flex: 0 1 100px;
        }
        .mat-column-instancia {
            flex: 0 1 300px;
            flex-shrink: 0;
            flex-grow: 1;
        }
        .mat-column-subinstancia {
            flex: 0 1 330px;
            flex-shrink: 0;
            flex-grow: 1;
        }                 
        .mat-column-codigoModular {
            flex: 0 1 200px;
        }
        .mat-column-centroTrabajo {
            flex: 0 1 450px;
        }
        .mat-column-modalidad {
            flex: 0 1 450px;
        }
        .mat-column-nivelEducativo {
            flex: 0 1 300px;
        }
        .mat-column-tipoGestion {
            flex: 0 1 300px;
        }
        .mat-column-codigoPlaza {
            flex: 0 1 200px;
        }
        .mat-column-cargo {
            flex: 0 1 300px;
        }
        .mat-column-areaCurricular {
            flex: 0 1 350px;
        }
        .mat-column-tipoPlaza {
            flex: 0 1 200px;
        }
        .mat-column-vigenciaInicio {
            flex: 0 1 200px;
        }
        .mat-column-vigenciaFin {
            flex: 0 1 200px;
        }
        .mat-column-acciones {
            flex: 0 1 200px;
        }
        
        
        /*begin personalizacion*/
        .badge {
            width: 90px !important;
            display: flex;                
            flex: 0 1 100px;
            text-align: center !important;                
        }
        .mat-cell, .mat-footer-cell {
            font-size: 11px !important;
            padding: 0 10px;
        }
        .mat-header-cell{
            font-family: "Roboto-bold", Helvetica, Arial, sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            color: #fff !important;
            background-color: #0073B7 !important;
            padding: 5px 5px 5px 10px; 
        }
        .mat-row:nth-of-type(odd) {
            background:  #F8F9FA;
        }
        /*end personalizacion*/
        
        .mat-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-footer-cell:first-of-type {
            padding-left: 15px;
        }
        .mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-footer-cell:last-of-type {
            padding-right: 15px;
        }
        .mobile-label {
            display: none;
        }
        .mat-table {
            overflow: auto;
            max-height: 800px;
        }
        @media(max-width: 780px) {
            .mobile-label {
                width: 100px;
                display: inline-block;
                font-weight: bold;
                margin-right: 10px;
            }
            .mat-header-row {
                display: none;
            }
            .mat-row {
                flex-direction: column;
                align-items: start;
                text-align: left;
                max-height: 480px;
            }

            .mat-column-instancia {
                flex: 0 1 150px;
                 flex-shrink: 0;
                 flex-grow: 1;
            }
            .mat-column-subinstancia {
                flex: 0 1 150px;
                 flex-shrink: 0;
                 flex-grow: 1;
            }           
        }
    }
    #breadoriginal{
        display: none !important;
    }
    .bread-original{
        display: none !important;
    }
}
