<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title">Motivo de rechazo</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-8 pb-0 m-0 report">
        <form [formGroup]="form">
            <fieldset class="fieldset-border mt-0 mb-12">
                <legend>Motivo</legend>
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px"
                        fxLayoutGap.xs="0">
                        <mat-form-field appearance="fill" fxFlex="100%" fxFlex.xs="100%"
                            [mineduFormFieldValidationState]="form.get('motivoRechazo')">
                            <mat-label [mineduFormRequiredLabel]="form.get('motivoRechazo')">Ingrese Motivo
                            </mat-label>
                            <textarea matInput formControlName="motivoRechazo" maxlength="400" matTextareaAutosize [matAutosizeMinRows]="9" [matAutosizeMaxRows]="20"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>

        </form>

    </div>
    <div mat-dialog-actions class="panel-footer m-0" fxLayout="row" fxLayoutAlign="end center">
        <div class="pl-6"> <button type="button" mat-raised-button color="primary" class="ml-4"
                (click)="handlerRechazar()">
                Rechazar</button></div>
        <minedu-button-cancel (mineduOnCancel)="handleCancelar()"></minedu-button-cancel>
    </div>
</div>