<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title">{{dialogTitle}}</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-20 pb-0 m-0" fusePerfectScrollbar>
        <!-- <div *ngIf="working" fxLayout="column" fxLayoutAlign="center center">
            <mat-spinner [diameter]="50" style="margin: 0 auto;"></mat-spinner>
            <span>Espere, estamos procesando tu solicitud</span>
        </div> -->

	<ng-container [ngSwitch]="templateRL">
	    <ng-container *ngSwitchCase="'RL4'" [ngTemplateOutlet]="RL4"></ng-container>
	    <ng-container *ngSwitchDefault [ngTemplateOutlet]="RLOTRO"></ng-container>
	</ng-container>
        <fieldset class="fieldset-border mt-0 mb-12">
            <legend>Datos del Centro de Trabajo</legend>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Código modular</span><br>
                            <span class="label-normal">{{plaza?.codigoCentroTrabajo | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Centro de trabajo</span><br>
                            <span class="label-normal">{{plaza?.institucionEducativa | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Instancia</span><br>
                            <span class="label-normal">{{plaza?.instancia | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Sub Instancia</span><br>
                            <span class="label-normal">{{plaza?.subInstancia | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Modalidad Educativa</span><br>
                            <span class="label-normal">{{plaza?.modalidad | noRegistrado}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Nivel Educativo</span><br>
                            <span class="label-normal">{{plaza?.nivelEducativo | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Tipo de IE</span><br>
                            <span class="label-normal">{{plaza?.tipoInstitucionEducativa | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Tipo de Gestiòn</span><br>
                            <span class="label-normal">{{plaza?.tipoGestion | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Dependencia</span><br>
                            <span class="label-normal">{{plaza?.dependencia | noRegistrado}} </span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Modelo de Servicio</span><br>
                            <span class="label-normal">{{plaza?.modeloServicio | noRegistrado}} </span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Tipo de Ruralidad</span><br>
                            <span class="label-normal">{{plaza?.tipoRuralidad | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">EIB</span><br>
                            <span class="label-normal">{{plaza?.ieb ? 'SI' : 'NO'}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Forma de Atención</span><br>
                            <span class="label-normal">{{plaza?.formaAtencion | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Lengua Originaria</span><br>
                            <span class="label-normal">{{plaza?.lenguaOriginaria | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Frontera</span><br>
                            <span class="label-normal">{{plaza?.frontera ? 'SI' : 'NO'}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">VRAEM</span><br>
                            <span class="label-normal">{{plaza?.vraem ? 'SI' : 'NO'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button (click)="handleCancel()"><span class="material-icons">block</span>CERRAR</button>
    </div>
    <ng-template #RL4>
        <fieldset class="fieldset-border mt-0 mb-12">
            <legend>Datos de la Plaza</legend>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Código de Plaza</span><br>
                            <span class="label-normal">{{plaza?.codigoPlaza | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Cargo</span><br>
                            <span class="label-normal">{{plaza?.cargo | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Jornada Laboral</span><br>
                            <span class="label-normal">{{plaza?.jornadaLaboral | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Tipo de plaza</span><br>
                            <span class="label-normal">{{plaza?.tipoPlaza | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Régimen laboral</span><br>
                            <span class="label-normal">{{plaza?.regimenLaboral | noRegistrado}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Vigencia Inicio</span><br>
                            <span class="label-normal">{{plaza?.vigenciaInicio | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Vigencia Fin</span><br>
                            <span class="label-normal">{{plaza?.vigenciaFin | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="75%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Motivo de vacante</span><br>
                            <span class="label-normal">{{plaza?.motivoVacancia | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                    </div>
                </div>
            </div>            
        </fieldset>
    </ng-template>
    <ng-template #RLOTRO>
        <fieldset class="fieldset-border mt-0 mb-12">
            <legend>Datos de la Plaza</legend>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Código de Plaza</span><br>
                            <span class="label-normal">{{plaza?.codigoPlaza | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Régimen laboral</span><br>
                            <span class="label-normal">{{plaza?.regimenLaboral | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Tipo de plaza</span><br>
                            <span class="label-normal">{{plaza?.tipoPlaza | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Cargo</span><br>
                            <span class="label-normal">{{plaza?.cargo | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Jornada Laboral</span><br>
                            <span class="label-normal">{{plaza?.jornadaLaboral | noRegistrado}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Condición</span><br>
                            <span class="label-normal">{{plaza?.descripcionCondicion | noRegistrado}}</span>
                        </div>
                    </div>

                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Área Curricular</span><br>
                            <span class="label-normal">{{plaza?.areaCurricular | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Especialidad</span><br>
                            <span class="label-normal">{{plaza?.especialidad | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Vigencia Inicio</span><br>
                            <span class="label-normal">{{plaza?.vigenciaInicio | noRegistrado}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Vigencia Fin</span><br>
                            <span class="label-normal">{{plaza?.vigenciaFin | noRegistrado}}</span>
                        </div>
                    </div>
                </div>
            </div>            
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxLayoutAlign="start start" fxFlex="100%" fxFlex.xs="100%">
                        <div>
                            <span class="label">Motivo de vacante</span><br>
                            <span class="label-normal">{{plaza?.motivoVacancia | noRegistrado}}</span>
                        </div>
                    </div>
                </div>
            </div>            

        </fieldset>
    </ng-template>
</div>
