<div class="dialog-content-wrapper  page-layout" style="overflow: hidden" >
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title">Información completa de la plaza</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-0 pb-0 m-0  page-layout"  style=" overflow-y: hidden;"   >
        <!-- <div class="center content">
            <div class="panel-body"  > -->
            
                <div class="m-20" style="margin-top:-5px!important;">
                    <fieldset class="fieldset-border">
                        <legend>Datos Personales</legend>
                        <div fxLayout="row" fxLayout.lt-md="column"  fxLayoutAlign="left" fxLayoutGap.xs="0">
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for="">Documento de identidad</label>
                                    <p class="form-control-static">{{servidor.numeroDocIdentidad}} </p>
                                </div>
                            </div>
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for="">Primer Apellido</label>
                                    <p class="form-control-static"  > {{servidor.primerApellido}} </p>
                                </div>
                            </div>
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for="">Segundo Apellido</label>
                                    <p class="form-control-static"> {{servidor.segundoApellido}} </p>
                                </div>
                            </div>
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for="">Nombres</label>
                                    <p class="form-control-static">
                                        {{servidor.nombres}} </p>
                                </div>
                            </div>
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for="">Fecha de nacimiento</label>
                                    <p class="form-control-static">
                                        {{servidor.fechaNacimiento | date :'dd/MM/yyyy'}} </p>
                                </div>
                            </div>
                        
                            
                                    
                        </div>
                        <div fxLayout="row" fxLayout.lt-md="column"  fxLayoutAlign="left" fxLayoutGap.xs="0">
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for="">Tiempo de servicios oficiales</label>
                                    <p class="form-control-static">{{servidor.tiempoServicio    }} dias </p>
                                </div>
                            </div>
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for="">Tiempo de servicios en el Area</label>
                                    <p class="form-control-static"  > {{servidor.tiempoServicioIIEE}} dias</p>
                                </div>
                            </div>
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for="">Horas Lectivas Asignadas</label>
                                    <p class="form-control-static"> {{servidor.horaLectiva}} </p>
                                </div>
                            </div>
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for="">Sexo</label>
                                    <p class="form-control-static">
                                        {{servidor.genero}} </p>
                                </div>
                            </div>
                            <div fxFlex="20%">
                                <div class="form-group">
                                    <label for=""> </label>
                                    <p class="form-control-static">
                                    </p>
                                </div>
                            </div>
                        
                            
                                    
                        </div>
                    </fieldset>
                </div>

                <div class="m-20">
                    <fieldset class="fieldset-border">
                        <legend>Datos de la Plaza</legend>
                        <div fxLayout="row" fxLayout.lt-md="column"  fxLayoutAlign="left" fxLayoutGap.xs="0">
                                    <div fxFlex="20%">
                                        <div class="form-group">
                                            <label >Código de Plaza</label> 
                                            <p class="form-control-static">{{plazaHeader.codigoPlaza}}</p>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="form-group">
                                            <label  >Cargo</label>
                                            <p class="form-control-static">{{plazaHeader.descripcionCargo}}</p>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="form-group">
                                            <label  >Jornada Laboral</label>
                                            <p class="form-control-static">{{plazaHeader.descripcionJornadaLaboral}}</p>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="form-group">
                                            <label  >Area Curricular</label>
                                            <p class="form-control-static">{{ areasCurricularesUsadas}}</p>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="form-group">
                                            <label  >Tipo Plazar</label>
                                            <p class="form-control-static">{{ plazaHeader.descripcionTipoPlaza}}</p>
                                        </div>
                                    </div>
                        </div>
                        
                            <div fxLayout="row" fxLayout.lt-md="column"  fxLayoutAlign="left" fxLayoutGap.xs="0">
                                    <div fxFlex="20%">
                                    <div class="form-group">
                                            <label >Vigencia Inicio</label>
                                            <p>{{ plazaHeader.vigenciaInicio | date :'dd/MM/yyyy'}}</p>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="form-group">
                                            <label >Vigencia Fin</label>
                                            <p>{{ plazaHeader.vigenciaFin | date :'dd/MM/yyyy'}}</p>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="form-group">
                                            <label >Regimen Laboral</label>
                                            <p>{{ plazaHeader.descripcionRegimenLaboral }}</p>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="form-group  ">
                                            <label >Motivo de Vacante</label>
                                        <p>{{ plazaHeader.MotivoVacancia }}</p>
                                        </div>
                                    </div>
                                
                            
                            </div>
                    </fieldset>
                </div>
            
            
                <div class="m-20">
                    <fieldset class="fieldset-border">
                        <legend>Horas Asignadas</legend>
                        <div fxLayout="row" fxLayout.lt-md="column">
                            <div fxLayout="column" fxFlex="100">
                                <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                                <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%" fxLayoutGap="12px">
                                
                                    <div class="content">
                                        <div class="">
                                            <table mat-table style="width:100% important;" class="minedu-table" [dataSource]="dataSource" [@animateStagger]="{value:'50'}" >
                                                
                                    
                                                <ng-container matColumnDef="descripcionAreaCurricular">
                                                    <th mat-header-cell *matHeaderCellDef> Area Curricular</th>
                                                    <td mat-cell *matCellDef="let row" >
                                                        <p *ngIf="row.descripcionAreaCurricular">{{row.descripcionAreaCurricular}}</p>
                                                        <p *ngIf="!row.descripcionAreaCurricular">N/A</p>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="primero">
                                                    <th mat-header-cell *matHeaderCellDef>1&deg;</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <p *ngIf="row.primero">{{row.primero}}</p>
                                                        <p *ngIf="!row.primero">0</p>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="segundo">
                                                    <th mat-header-cell *matHeaderCellDef>2&deg;</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <p *ngIf="row.segundo">{{row.segundo}}</p>
                                                        <p *ngIf="!row.segundo">0</p>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="tercero">
                                                    <th mat-header-cell *matHeaderCellDef>3&deg;</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <p *ngIf="row.tercero">{{row.tercero}}</p>
                                                        <p *ngIf="!row.tercero">0</p>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="cuarto">
                                                    <th mat-header-cell *matHeaderCellDef>4&deg;</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <p *ngIf="row.cuarto">{{row.cuarto}}</p>
                                                        <p *ngIf="!row.cuarto">0</p>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="quinto">
                                                    <th mat-header-cell *matHeaderCellDef>5&deg;</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <p *ngIf="row.quinto">{{row.quinto}}</p>
                                                        <p *ngIf="!row.quinto">0</p>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="total">
                                                    <th mat-header-cell *matHeaderCellDef>TOTAL</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <p *ngIf="row.total">{{row.total}}</p>
                                                        <p *ngIf="!row.total">0</p>
                                                    </td>
                                                </ng-container>
                                                
                                                

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" >
                                                    <!-- (click)="selection.toggle(row)"
                                                    [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                                                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
                                                    [@animate]="{value:'*',params:{y:'100%'}}" -->
                                                </tr>
                                            </table>
                                            <div class="no-results" *ngIf="!(dataSource.loading | async)"
                                                [style.display]="dataSource.data.length === 0 ? '' : 'none'">
                                                No se encontraron registros
                                            </div>
                                            <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container"
                                                *ngIf="dataSource.loading | async">
                                                <mat-spinner diameter="50"></mat-spinner>
                                            </div>
                                        </div>
                                        <mat-paginator fxLayoutAlign="center center" #paginator [length]="dataSource.dataTotal" [pageIndex]="0"
                                                        [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
                                    </div>


                                </div>
                                </div>
                            </div>
                        </div>
                    
                    </fieldset>
                </div>
            <!-- </div>
        </div> -->
    </div>
    <div mat-dialog-actions class="panel-footer  m-0 p-16" fxLayout="row" fxLayoutAlign="end end">
              <button mat-raised-button color="primary" class="ml-4" (click)="handleCancel()"><span class="material-icons">close</span> Retornar</button>


    </div>
</div>