<fieldset *ngIf="dataSource?.data" class="fieldset-border mb-3" fxLayoutGap="12px">
    <legend>Documentos de sustento</legend>

    <div class="content-table" ngClass.lt-lg="scroll-grid">

        <table mat-table class="minedu-table mt-12 mb-12" #table [dataSource]="dataSource"
            [@animateStagger]="{value:'50'}" style="width: 100%" mineduPerfectScrollbar>

            <ng-container matColumnDef="descripcionTipoDocumento">
                <th mat-header-cell *matHeaderCellDef>Tipo de Documento</th>
                <td mat-cell *matCellDef="let row">
                    <p>{{row.descripcionTipoDocumento}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="numeroDocumentoSustento">
                <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Número de Documento
                </th>
                <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                    <p>
                        {{row.numeroDocumentoSustento}}
                    </p>
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaEmision">
                <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Fecha de Emisión
                </th>
                <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                    <p>{{row.fechaEmision | date:'dd/MM/yyyy'}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="descripcionTipoFormato">
                <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Tipo de Formato</th>
                <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                    <p>{{row.descripcionTipoFormato}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="numeroFolios">
                <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Folios</th>
                <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                    <p>{{row.numeroFolios}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Fecha de Registro</th>
                <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                    <p>{{row.fechaRegistro | date:'dd/MM/yyyy'}}</p>
                </td>
            </ng-container>


            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let row; let  i = index;">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="mat-icon-table">
                            <button type="button" (click)="verDocumento(row.codigoDocumentoSustento)" mat-stroked-button
                                color="primary" class="sidebar-toggle btn-sm ml-2" aria-label="Ver documento"
                                matTooltip="Ver documento">
                                <mat-icon class="">description</mat-icon>
                            </button>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
                [@animate]="{value:'*',params:{y:'100%'}}">
            </tr>
        </table>

    </div>
</fieldset>