@import "src/@minedu/scss/minedu";
@import "src/@minedu/scss/comun";

:host {
    width: 100%;
}

minedu-gestionar-desvinculacion {
    width: 100%;
    padding: 2px;
    .remove {
        color: #dd3333;
    }
    
    .panel {
        margin-bottom: 15px;
        background-color: #fff;
        border: 0;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        .panel-heading {
            padding: 8px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background-color: #0073b7;
            >h3.panel-title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 15px;
                color: #fff;
            }
        }
        .panel-body {
            padding: 15px 15px 0;
        }
        .panel-footer {
            padding: 10px 15px;
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
    .mat-raised-button {
        border: 1px solid #ccc;
        line-height: 34px;
    }
    .mat-raised-button.mat-primary {
        background-color: #0073b7;
        border-color: #0073b7;
    }
    .mat-stroked-button.mat-primary {
        color: #0073b7;
    }
    .mat-flat-button.mat-primary {
        background-color: #0073b7;
    }
    .mat-stroked-button:not([disabled]).mat-primary {
        border-color: #0073b7;
        background-color: #fff;
    }
    .mat-stroked-button:not([disabled]).mat-warn {
        border-color: #f44336;
        background-color: #fff;
    }
    button .mat-button-wrapper .material-icons {
        font-size: 16px;
    }
    button.btn-sm {
        line-height: 24px;
        min-width: 27px;
        padding: 0;
    }
    button.btn-sm .mat-button-wrapper .material-icons {
        font-size: 16px;
    }
    button.btn-sm .mat-icon {
        height: 20px;
        width: 20px;
        min-width: 20px;
        min-height: 20px;
    }
    .btn-icon .mat-button-wrapper .material-icons {
        font-size: 22px!important;
    }
    .no-results{                  
            min-width: 2000px;
    }
    .minedu-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        min-width: 1500px;
        
        .mat-icon-table{
            margin-right: 5px;
        }
        .mat-column-indice {
            flex: 0 1 15px;
            width: 15px;
        }  
        .mat-column-seleccione {
            flex: 0 1 15px;
            width: 15px;
        }       
        .mat-column-regimen_laboral {
            flex: 0 1 300px;
            width: 300px;
        }
        .mat-column-accion {
            flex: 0 1 150px;
            text-align: left;
            width: 150px;
        }
        .mat-column-motivo_accion {
            flex: 0 1 250px;
            text-align: left;
            width: 250px;
        }
        .mat-column-mandato_judicial {
            flex: 0 1 80px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }
        .mat-column-documentos {
            flex: 0 1 150px;
            text-align: center;
            justify-content: space-around;
            width: 150px;
        }
        .mat-column-apellidos_nombres {
            flex: 0 1 300px;
            text-align: left;
            width: 300px;
        }
        .mat-column-fecha_inicio {
            flex: 0 1 90px;
            justify-content: space-around;
            width: 90px;
        }
        .mat-column-fecha_fin {
            flex: 0 1 90px;
            justify-content: space-around;
            width: 90px;
        }
        .mat-column-codigo_plaza {
            flex: 0 1 100px;
            justify-content: space-around;
            width: 80px;
        }
        .mat-column-estado {
            flex: 0 1 150px;
            justify-content: space-around;
            width: 150px;
        }
        .mat-column-situacion_resolucion {
            flex: 0 1 100px;
            text-align: center;
            justify-content: space-around;
            width: 100px;
        }
        .mat-column-acciones {
            flex: 0 1 150px;   
            width: 150px;  
        }  
        .mat-cell, 
        .mat-footer-cell {
            padding: 0 10px;
        }
        .mat-cell:not(:last-child){
            border-right: 1px solid #ddd
        }
        .mat-cell:first-child{
            border-left: 0px solid #ddd;
            border-top: 0px solid #ddd;
            border-bottom: 0px solid #ddd;
        }  
        .mat-header-cell:first-child{
            border-left: 0px solid #ddd;
            border-top: 0px solid #ddd;
            border-bottom: 0px solid #ddd;
        }  
    }
    .box-shadow {
        -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    .mat-dialog-actions {
        padding: 0px !important;
        display: flex;
        flex-wrap: wrap;
        min-height: auto !important;
        align-items: center;
        margin-bottom: 0px !important;
    }
    .space-white {
        background: white !important;
    }
}