@import "@minedu/scss/minedu.scss";
@import "@minedu/scss/comun.scss";

minedu-bandeja-acciones-grabadas {
    width: 100%;
    // padding: 2px;
    .remove {
        color: #dd3333;
    }
    .content {
        width: 100%;       
        .ml-2 {
            margin-left: 2px;
        }
        .pl-2 {
            padding-left: 2px;
        }
        .pl-6 {
            padding-left: 6px;
        }
        .pr-2 {
            padding-right: 2px;
        }
        .mb-8 {
            margin-bottom: 8px;
        }
        .mb-10 {
            margin-bottom: 10px;
        }
        .mb-15 {
            margin-bottom: 15px;
        }
        .mat-raised-button {
            border: 1px solid #ccc;
            line-height: 34px;
        }
        .mat-raised-button.mat-primary {
            background-color: #0073b7;
            border-color: #0073b7;
        }
        .mat-stroked-button.mat-primary {
            color: #0073b7;
        }
        .mat-flat-button.mat-primary {
            background-color: #0073b7;
        }
        .mat-stroked-button:not([disabled]).mat-primary {
            border-color: #0073b7;
            background-color: #fff;
        }
        .mat-stroked-button:not([disabled]).mat-warn {
            border-color: #f44336;
            background-color: #fff;
        }
        button .mat-button-wrapper .material-icons {
            font-size: 16px;
        }
        button.btn-sm {
            line-height: 24px;
            min-width: 27px;
            padding: 0;
        }
        button.btn-sm .mat-button-wrapper .material-icons {
            font-size: 16px;
        }
        button.btn-sm .mat-icon {
            height: 20px;
            width: 20px;
            min-width: 20px;
            min-height: 20px;
        }
        .btn-icon .mat-button-wrapper .material-icons {
            font-size: 22px!important;
        }
        .no-results{                  
            min-width: 2000px;
        }
        .minedu-table {            
            min-width: 2000px;
            flex: 1 1 auto;
            border-bottom: 1px solid rgba(0, 0, 0, .12);
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            .mat-icon-table{
                margin-right: 5px;
            }
            .mat-column-indice {
                flex: 0 1 15px;
            }         
            .mat-column-regimenLaboralDes {
                flex: 0 1 200px;
            }
            .mat-column-grupoAccion {
                flex: 0 1 200px;
            }
            .mat-column-accion {
                flex: 0 1 200px;
            }
            .mat-column-motivoAccion {
                flex: 0 1 300px;
            }
            .mat-column-esMandatoJudicial {
                flex: 0 1 40px;
                text-align: center;
            } 
            .mat-column-codigoPlaza {
                flex: 0 1 120px;
            }
            .mat-column-documento {
                flex: 0 1 200px;
            }
            .mat-column-apellidosYNombres {
                flex: 0 1 300px;
            }
            .mat-column-fechaInicio  {
                flex: 0 1 80px;
            }
            .mat-column-fechaFin  {
                flex: 0 1 80px;
            }
            .mat-column-codigoEstadoAccionGrabada  {
                flex: 0 1 100px;
            }
            .mat-column-acciones {
                flex: 0 1 120px;   
            }
        }
    }
}