@import "@minedu/scss/minedu";
@import "@minedu/scss/comun";
.minedu-listar-plazas-dialog {
    width: 100%;
    padding: 2px;
    .remove {
        color: #dd3333;
    }
    .minedu-note {
        font-style: italic;
        font-weight: 700;
        color: #0073b7;
    }

    .mat-dialog-container {
        padding: 0;       

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
            
            .mat-toolbar-row{
                height: 48px;
            }
        }

        .toolbar-bottom {
            height: auto;
        }
    }
    
    .content {
        width: 100%;       
        .ml-2 {
            margin-left: 2px;
        }
        .pl-2 {
            padding-left: 2px;
        }
        .pl-6 {
            padding-left: 6px;
        }
        .pr-2 {
            padding-right: 2px;
        }
        .mb-8 {
            margin-bottom: 8px;
        }
        .mb-10 {
            margin-bottom: 10px;
        }
        .mb-15 {
            margin-bottom: 15px;
        }
        .mat-raised-button {
            border: 1px solid #ccc;
            line-height: 34px;
        }
        .mat-raised-button.mat-primary {
            background-color: #0073b7;
            border-color: #0073b7;
        }
        .mat-stroked-button.mat-primary {
            color: #0073b7;
        }
        .mat-flat-button.mat-primary {
            background-color: #0073b7;
        }
        .mat-stroked-button:not([disabled]).mat-primary {
            border-color: #0073b7;
            background-color: #fff;
        }
        .mat-stroked-button:not([disabled]).mat-warn {
            border-color: #f44336;
            background-color: #fff;
        }
        button .mat-button-wrapper .material-icons {
            font-size: 16px;
        }
        button.btn-sm {
            line-height: 24px;
            min-width: 27px;
            padding: 0;
        }
        button.btn-sm .mat-button-wrapper .material-icons {
            font-size: 16px;
        }
        button.btn-sm .mat-icon {
            height: 20px;
            width: 20px;
            min-width: 20px;
            min-height: 20px;
        }
        .btn-icon .mat-button-wrapper .material-icons {
            font-size: 22px!important;
        }
        .minedu-table {
            flex: 1 1 auto;
            border-bottom: 1px solid rgba(0, 0, 0, .12);
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            .mat-icon-table {
                margin-right: 5px;
            }
            .mat-column-seleccione {
                flex: 0 1 20px;
                width: 20px; 
                flex-shrink: 0;
                flex-grow: 1;  
            }  
            .mat-column-codigoPlaza {
                flex: 0 1 150px;
                flex-shrink: 0;
                flex-grow: 1;   
            }        
            .mat-column-regimenLaboral {
                flex: 0 1 150px;
                flex-shrink: 0;
                flex-grow: 1;  
            } 
            .mat-column-tipoPlaza {
                flex: 0 1 150px;
                flex-shrink: 0;
                flex-grow: 1;  
            } 
            .mat-column-condicion {
                flex: 0 1 100px;
                flex-shrink: 0;
                flex-grow: 1;  
            }    
            .mat-column-estadoPlaza {
                flex: 0 1 100px;
                flex-shrink: 0;
                flex-grow: 1;  
            }
            .mat-column-vigenciaInicio {
                flex: 0 1 100px;
                flex-shrink: 0;
                flex-grow: 1;  
            }
            .mat-column-vigenciaFin {
                flex: 0 1 100px;
                flex-shrink: 0;
                flex-grow: 1;  
            }
            .mat-cell, 
            .mat-footer-cell {
                padding: 0 10px;
            } 
            .mat-header-cell, 
            .mat-footer-cell {
                padding: 0 10px;
            } 
            .mat-header-cell:not(:last-child){
                border-right : 1px solid #ddd
            }
            .mat-cell:not(:last-child){
                border-right : 1px solid #ddd
            }
            .mat-cell:first-child{
                border-left: 0px solid #ddd;
                border-top: 0px solid #ddd;
                border-bottom: 0px solid #ddd;
            }  
            .mat-header-cell:first-child{
                border-left: 0px solid #ddd;
                border-top: 0px solid #ddd;
                border-bottom: 0px solid #ddd;
            } 

        }
        
    }  
}
