<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mr-4">{{modal.icon}}</mat-icon>
                <span class="title dialog-title">{{modal.title}}</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-8 pb-0 m-0 report">
        <div class="if-container">
            <iframe *ngIf="file" [src]="file" height="100%" width="100%" frameborder="0" scrolling="yes"></iframe>
        </div>
    </div>
    <div mat-dialog-actions class="panel-footer m-0" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" class="" (click)="handleDescargar()"
            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
            <span class="material-icons">cloud_download</span> DESCARGAR
        </button>
        <minedu-button-cancel (mineduOnCancel)="handleCancelar()"></minedu-button-cancel>
    </div>
</div>