<div class="content" mineduPerfectScrollbar>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Criterios de búsqueda</h3>
        </div>

        <div class="panel">
            <div class="panel-body">
                <form [formGroup]="form">
                    <div fxLayout="row" fxLayout.lt-md="column">
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px"
                            fxLayoutGap.xs="0">


                            <mat-form-field appearance="fill" fxFlex="20%" fxFlex.xs="100%"
                                [mineduFormFieldValidationState]="form.get('idTipoDocumentoIdentidad')">
                                <mat-label [mineduFormRequiredLabel]="form.get('idTipoDocumentoIdentidad')">
                                    Tipo de
                                    documento
                                </mat-label>
                                <mat-select formControlName="idTipoDocumentoIdentidad"
                                    (selectionChange)="selectTipoDocumento($event.value)">
                                    <mat-option *ngFor="let item of comboLists.listaTipoDocumento" [value]="item.value">
                                        {{item.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <minedu-form-field-validation-messages
                                        [mineduFormControl]="form.get('idTipoDocumentoIdentidad')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" fxFlex="16%" fxFlex.xs="100%"
                                [mineduFormFieldValidationState]="form.get('numeroDocumentoIdentidad')">
                                <mat-label [mineduFormRequiredLabel]="form.get('numeroDocumentoIdentidad')">
                                    Número de
                                    documento</mat-label>
                                <input matInput formControlName="numeroDocumentoIdentidad"
                                    placeholder="Número de documento" [maxlength]="maxLengthnumeroDocumentoIdentidad">
                                <mat-error>
                                    <minedu-form-field-validation-messages
                                        [mineduFormControl]="form.get('numeroDocumentoIdentidad')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" fxFlex="20%" fxFlex.xs="100%"
                                [mineduFormFieldValidationState]="form.get('idRegimenLaboral')">
                                <mat-label [mineduFormRequiredLabel]="form.get('idRegimenLaboral')">
                                    Régimen laboral
                                </mat-label>
                                <mat-select formControlName="idRegimenLaboral"
                                    (selectionChange)="selectTipoDocumento($event.value)">
                                    <mat-option *ngFor="let item of comboLists.listaRegimenLaboral"
                                        [value]="item.value">
                                        {{item.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <minedu-form-field-validation-messages
                                        [mineduFormControl]="form.get('idRegimenLaboral')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" fxFlex="20%" fxFlex.xs="100%"
                                [mineduFormFieldValidationState]="form.get('idTipoFalta')">
                                <mat-label [mineduFormRequiredLabel]="form.get('idTipoFalta')">
                                    Tipo de falta
                                </mat-label>
                                <mat-select formControlName="idTipoFalta"
                                    (selectionChange)="selectTipoDocumento($event.value)">
                                    <mat-option *ngFor="let item of comboLists.listaTipoFalta" [value]="item.value">
                                        {{item.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <minedu-form-field-validation-messages
                                        [mineduFormControl]="form.get('idTipoFalta')">
                                    </minedu-form-field-validation-messages>
                                </mat-error>
                            </mat-form-field>

                            <minedu-datepicker label="Fecha registro" [mineduFormControl]="form.get('fechaRegistro')"
                                [formControl]="form.get('fechaRegistro')">
                            </minedu-datepicker>
                            <!--   <mat-error>
                            <minedu-form-field-validation-messages [mineduFormControl]="form.get('fechaFin')">
                            </minedu-form-field-validation-messages>
                        </mat-error> -->

                        </div>
                    </div>
                </form>
            </div>

            <div class="panel-footer">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div mat-dialog-actions class="p-0" fxLayout="row">
                        <button mat-raised-button (click)="handleLimpiar()"><span class="material-icons">clear</span>
                            Limpiar</button>
                    </div>
                    <div mat-dialog-actions fxLayout="row">
                        <button  *ngIf="permisos.autorizadoConsultar" mat-raised-button color="primary" class="ml-4" (click)="handleBuscar()"><span
                                class="material-icons">search</span>
                            Buscar</button>
                    </div>
                </div>
            </div>
        </div><!-- Fin del panel -->

        <div class="panel-body">
            <div fxLayout="row" fxLayoutAlign="end center" class="mb-2">
                <div mat-dialog-actions fxLayout="row">
                    <button  *ngIf="permisos.autorizadoExportar" mat-stroked-button color="primary" (click)="handleExportar()"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"><span
                            class="material-icons">get_app</span> EXPORTAR</button>
                </div>
                <div mat-dialog-actions class="p-0" fxLayout="row">
                    <button  *ngIf="permisos.autorizadoAgregar" mat-raised-button color="primary" (click)="handleNuevo()" class="ml-4"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"><span
                            class="material-icons">add_circle</span>
                        NUEVA FALTA</button>
                </div>
            </div>
            


            <div class="content" mineduPerfectScrollbar>
                <div class="content-table">
                    <div fxLayout="row" fxLayout.lt-md="column" >

                        <mat-table class="minedu-table" #table [dataSource]="dataSource"
                            [@animateStagger]="{value:'50'}" style="width: 100%" mineduPerfectScrollbar>
                            <ng-container matColumnDef="registro">
                                <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;">
                                    <p class="text-truncate">{{row.registro}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="numeroExpediente">
                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>N° EXPEDIENTE</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                    <p class="text-truncate">{{row.numeroExpediente}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="fechaRegistro">
                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>F. REGISTRO</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                    <p class="text-truncate">{{row.fechaRegistro}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="nombreCompleto">
                                <mat-header-cell *matHeaderCellDef>APELLIDOS Y NOMBRES</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;">
                                    <p class="text-truncate">{{row.nombreCompleto}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="numeroDocumentoIdentidad">
                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>DOCUMENTO</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                    <p class="text-truncate">{{row.numeroDocumentoIdentidad}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="centroTrabajo">
                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>CENTRO DE TRABAJO
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                    <p class="text-truncate">{{row.descripcionCentroTrabajo}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="regimenLaboral">
                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>RÉGIMEN LABORAL</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                    <p class="text-truncate">{{row.abreviaturaRegimenLaboral}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="tipoFalta">
                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>TIPO DE FALTA</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                    <p class="text-truncate">{{row.descripcionTipoFalta}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Estado">
                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>ESTADO</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                    <ng-container [ngSwitch]="true">
                                        <ng-container *ngSwitchCase="row.codigoEstadoFalta === estadoFalta.INVESTIGADO">
                                            <p class="badge badge-default badge-width estadoGrilla">{{row.descripcionEstadoFalta}}
                                            </p>
                                        </ng-container>
                                        <ng-container
                                            *ngSwitchCase="row.codigoEstadoFalta === estadoFalta.DECIDIDO">
                                            <p class="badge badge-success  badge-width estadoGrilla">{{row.descripcionEstadoFalta}}
                                            </p>
                                        </ng-container>
                                         
                                    </ng-container>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="diasTranscurridos">
                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>DÍAS TRANSCURRIDOS
                                </mat-header-cell>
                                <mat-cell  *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                     <span class="text-truncate" style="margin-left: 30px;" >{{row.diasTranscurridos}}</span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                                <mat-cell *matCellDef="let row; let  i = index;">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="mat-icon-table">
                                            <button *ngIf="row?.codigoEstadoFalta == estadoFaltaInvestigado   &&  permisos.autorizadoModificar"
                                                mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                                aria-label="Modificar" matTooltip="Modificar"
                                                (click)="handleEditar(row)">
                                                <mat-icon class="">create</mat-icon>
                                            </button>
                                        </div>
                                        <div class="mat-icon-table">
                                            <button *ngIf="row?.codigoEstadoFalta == estadoFaltaInvestigado  &&  permisos.autorizadoEliminar " 
                                                mat-stroked-button color="warn" class="sidebar-toggle btn-sm ml-2"
                                                aria-label="Eliminar" matTooltip="Eliminar"
                                                (click)="handleEliminar(row, i)">
                                                <mat-icon class="">restore_from_trash</mat-icon>
                                            </button>
                                        </div>
                                        <div class="mat-icon-table">
                                            <button  *ngIf="permisos.autorizadoConsultar" mat-stroked-button color="primary"
                                                class="sidebar-toggle btn-sm ml-2" aria-label="Ver información"
                                                matTooltip="Ver información" (click)="handleViewInfo(row, i)">
                                                <mat-icon class="">info</mat-icon>
                                            </button>
                                        </div>
                                        <div class="mat-icon-table">
                                            <button *ngIf="row?.codigoEstadoFalta == estadoFaltaInvestigado  &&  permisos.autorizadoAgregar"
                                                mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                                aria-label="Sancionar" matTooltip="Sancionar"
                                                (click)="handleSancionar(row, i)">
                                                <mat-icon class="">gavel</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"> </mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
                                [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" matRipple
                                [@animate]="{value:'*',params:{y:'100%'}}">
                            </mat-row>
                        </mat-table>
                    </div>
                    <div class="no-results" *ngIf="!(dataSource.loading | async)"
                        [style.display]="dataSource.data.length === 0 ? '' : 'none'">
                        No se encontraron registros
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container"
                        *ngIf="dataSource.loading | async">pageSize
                        <mat-spinner diameter="50"></mat-spinner>
                    </div>
                    <mat-paginator #paginator class="mat-paginator-sticky" [length]="dataSource.dataTotal"
                        [pageIndex]="paginatorPageIndex" [pageSize]="paginatorPageSize"
                        [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100]" showFirstLastButtons>
                    </mat-paginator>

                </div>
            </div>


        </div>
    </div>