@import "@minedu/scss/minedu.scss";
@import "@minedu/scss/comun.scss";

minedu-aprobacion-accion-desplazamiento {
    
    width: 100%;
    .content {
        width: 100%;
    }  
    .mb-5{
        margin-bottom: 5px;
    }       
}
 