<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title">Información completa de la plaza</span>
            </div>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-10 pb-0 m-0">
        <div class="panel-body" *ngIf="plaza">
            <fieldset class="fieldset-border mb-3">
                <legend>Datos de centro de trabajo</legend>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                            fxLayoutGap="12px">
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Código modular</span>&nbsp;
                                    <br />
                                    <span>{{ plaza.codigoModular }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Centro de trabajo</span>
                                    <br />
                                    <span>{{ plaza.centroTrabajo }}
                                    </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Instancia</span>
                                    <br />
                                    <span>{{ plaza.instancia }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Sub instancia</span>
                                    <br />
                                    <span>{{ plaza.subInstancia }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                            fxLayoutGap="12px">
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Distrito</span>&nbsp;
                                    <br />
                                    <span>{{ plaza.distrito }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Modalidad</span>
                                    <br />
                                    <span>{{ plaza.modalidad }}
                                    </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Nivel Educativo</span>
                                    <br />
                                    <span>{{ plaza.nivelEducativo }}
                                    </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Tipo de IE</span>
                                    <br />
                                    <span>{{ plaza.tipoInstitucionEducativa }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                            fxLayoutGap="12px">
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Tipo ruralidad</span>&nbsp;
                                    <br />
                                    <span>{{ plaza.tipoRuralidad }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">EIB</span>
                                    <br />
                                    <span>{{ plaza.eib }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Tipo de gestión</span>
                                    <br />
                                    <span>{{ plaza.tipoGestion }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Dependencia</span>
                                    <br />
                                    <span>{{ plaza.dependencia }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </fieldset>
            <fieldset class="fieldset-border mb-3">
                <legend>Datos de plaza</legend>
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                            fxLayoutGap="12px">
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Código de plaza</span>
                                    <br />
                                    <span>{{ plaza.codigoPlaza }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Régimen laboral</span>
                                    <br />
                                    <span>{{ plaza.regimenLaboral }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Tipo de plaza</span>
                                    <br />
                                    <span>{{ plaza.tipoPlaza }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Condición de plaza</span>
                                    <br />
                                    <span>{{ plaza.condicionPlaza }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                            fxLayoutGap="12px">
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Cargo</span>
                                    <br />
                                    <span>{{ plaza.cargo }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Grupo ocupacional</span>
                                    <br />
                                    <span>{{ plaza.grupoOcupacional }}
                                    </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Categoria remunerativa</span>
                                    <br />
                                    <span>{{ plaza.categoriaremunerativa }}
                                    </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Jornada laboral</span>
                                    <br />
                                    <span>{{ plaza.jornadaLaboral }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <br />
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%" fxFlex.lt-sm="100%"
                            fxLayoutGap="12px">
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Vigencia inicio</span>
                                    <br />
                                    <span>{{ plaza.fechaVigenciaInicio }} </span>
                                </div>
                            </div>
                            <div fxLayoutAlign="start start" fxFlex="25%" fxFlex.xs="100%">
                                <div>
                                    <span style="font-weight: bold">Motivo Vacancia</span>
                                    <br />
                                    <span>{{ plaza.motivoVacancia }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </fieldset>
        </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="primary" (click)="handleCancel()">
            <span class="material-icons">close</span> Cerrar
        </button>
    </div>
</div>