<div class="page-layout carded fullwidth inner-scroll p-16" mineduPerfectScrollbar>
    <div class="page-layout carded left-sidebar inner-scroll">
        <div class="content" mineduPerfectScrollbar>
            <div class="row">
                
                <div class="col-md-6">
                    <h3 class="panel-title">Desarrollo de procesos de ascensos</h3>
                </div>
            </div>
            <div class="panel" >
                    <div class="panel-body">
                        <mat-tab-group>
                             <mat-tab label="Postulantes">  
                                <form [formGroup]="form">
                                    <div   fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                        fxLayoutGap.lt-md="0">
                                        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%"
                                            fxLayoutGap="12px" fxLayoutGap.xs="0">
                                            <fieldset class="fieldset-border mb-3"  fxFlex="100%">
                                                <legend>Proceso y etapa</legend>
                                                <mat-form-field  >
                                                    <mat-label >Año</mat-label>
                                                    <input matInput  value="2020" readonly>
                                                  </mat-form-field>
                                                  <mat-form-field  >
                                                    <mat-label>Codigo</mat-label>
                                                    <input matInput   value="001" readonly>
                                                  </mat-form-field>
                                                  <mat-form-field  >
                                                    <mat-label>Proceso</mat-label>
                                                    <input matInput   value="Convocatoria" readonly>
                                                  </mat-form-field>
                                                  <mat-form-field  >
                                                    <mat-label>Régimen laboral
                                                    </mat-label>
                                                    <input matInput   value="D.L. 276 " readonly>
                                                  </mat-form-field>
                                                  <mat-form-field  >
                                                    <mat-label>Etapa/Fase</mat-label>
                                                    <input matInput   value="PRIMERA" readonly>
                                                  </mat-form-field>
                                                  <mat-form-field  >
                                                    <mat-label>Convocatoria</mat-label>
                                                    <input matInput   value="PRIMERA" readonly>
                                                  </mat-form-field>
                                                  <mat-form-field  >
                                                    <mat-label>Fecha creación
                                                    </mat-label>
                                                    <input matInput   value="15/12/2019" readonly>
                                                  </mat-form-field>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                                <form  >
                                    <div   fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                        fxLayoutGap.lt-md="0">
                                        <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%"
                                            fxLayoutGap="12px" fxLayoutGap.xs="0">
                                            <fieldset class="fieldset-border mb-3" fxFlex="100%" >
                                                <legend>Criterios de búsqueda</legend>
                                                <mat-form-field fxFlex="20%" fxFlex.xs="100%" appearance="fill">
                                                    <mat-label>Tipo Documeto</mat-label>
                                                    <mat-select>
                                                      <mat-option value="option">Option</mat-option>
                                                    </mat-select>
                                                  </mat-form-field>

                                                <mat-form-field fxFlex="20%" fxFlex.xs="100%" appearance="fill">
                                                    <mat-label>Numero Doc.</mat-label>
                                                    <input matInput placeholder="Num Doc">
                                                    <mat-icon  matSuffix class="icon-cursor"
                                                    (click)="busquedaPersonalizada()">search</mat-icon>
                                                  </mat-form-field>
                                                 

                                                  <mat-form-field fxFlex="20%" fxFlex.xs="100%" appearance="fill">
                                                    <mat-label>Codigo Plaza.</mat-label>
                                                    <input matInput>
                                                    <mat-icon matSuffix class="icon-cursor"
                                                    (click)="busquedaPersonalizadaPlaza()">search</mat-icon>
                                                  </mat-form-field>
                                                   
                                                  <mat-form-field  fxFlex="20%" fxFlex.xs="100%" appearance="fill">
                                                    <mat-label>Registrado</mat-label>
                                                    <mat-select>
                                                      <mat-option value="option">Option</mat-option>
                                                    </mat-select>
                                                  </mat-form-field>

                                                  <mat-form-field fxFlex="20%" fxFlex.xs="100%" appearance="fill">
                                                    <mat-label>Estado</mat-label>
                                                    <mat-select>
                                                      <mat-option value="option">Option</mat-option>
                                                    </mat-select>
                                                  </mat-form-field>
                                      
                                                  
                                                
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                
                <div class="panel-footer">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div mat-dialog-actions class="p-0" fxLayout="row">
                            <button mat-raised-button (click)="handleLimpiar()"><span
                                    class="material-icons">clear</span>
                                Limpiar</button>
                        </div>
                        <div mat-dialog-actions fxLayout="row">
                            <button mat-raised-button color="primary" class="ml-4" (click)="handleBuscar()"><span
                                    class="material-icons">search</span> Buscar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" class="mb-10">

                <div mat-dialog-actions class="p-0" fxLayout="row">
                    <button mat-stroked-button color="primary" (click)="handleExportar()" class="ml-4"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"><span
                            class="material-icons">get_app</span> EXPORTAR</button>
                </div>
            </div><br>

            <div class="panel">
                <div class="panel-body">
                    <mat-tab-group>
                        <mat-tab label="procesos y etapas"><br>
                            <div class="content" mineduPerfectScrollbar>
                                <div class="content-table">
                                    <div fxLayout="row" fxLayout.lt-md="column">
                                        <mat-table class="minedu-table" #table [dataSource]="dataSource"
                                            [@animateStagger]="{value:'50'}" style="width: 100%" mineduPerfectScrollbar>
                                            <ng-container matColumnDef="registro">
                                                <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i = index;">
                                                    <p class="text-truncate">{{row.registro}}</p>
                                                </mat-cell>
                                            </ng-container>
                                        
                                            <ng-container matColumnDef="idEtapaFase">
                                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>ETAPA/FASE
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                                    <p class="text-truncate">{{row.idEtapaFase}}</p>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="descripcionRegimenLaboral">
                                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>RÉGIMEN LABORAL
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                                    <p class="text-truncate">{{row.descripcionRegimenLaboral}}</p>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="fechaCreacion">
                                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>FECHA DE CREACIÓN
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                                    <p class="text-truncate">{{row.fechaCreacion}}</p>
                                                </mat-cell>
                                            </ng-container>
                                                <ng-container matColumnDef="idProceso">
                                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>CÓDIGO
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                                    <p class="text-truncate">{{row.idProceso}}</p>
                                                </mat-cell>
                                            </ng-container>
                                            <!-- <ng-container matColumnDef="descripcionNumeroConvocatoria">
                                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>N° DE
                                                    CONVOCATORIA
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                                    <p class="text-truncate">{{row.descripcionNumeroConvocatoria}}</p>
                                                </mat-cell>
                                            </ng-container> -->
                                            <ng-container matColumnDef="descripcionEtapa">
                                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>DESCRIPCIÓN
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row; " fxHide fxShow.gt-md>
                                                    <p class="text-truncate">{{row.descripcionEtapa}}</p>
                                                </mat-cell>
                                            </ng-container>
                                           
                                            <ng-container matColumnDef="descripcionEstado">
                                                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>ESTADO
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                                                    <ng-container [ngSwitch]="true">
                                                        <ng-container
                                                            *ngSwitchCase="row.idEstado === estadoAscenso.EN_PROCESO">
                                                            <p class="badge badge-warning badge-width">
                                                                {{row.descripcionEstado}}</p>
                                                        </ng-container>
                                                        <ng-container
                                                            *ngSwitchCase="row.idEstado === estadoAscenso.ELIMINADO">
                                                            <p class="badge badge-danger badge-width">
                                                                {{row.descripcionEstado}}</p>
                                                        </ng-container>
                                                        <ng-container
                                                            *ngSwitchCase="row.idEstado === estadoAscenso.CANCELADO">
                                                            <p class="badge badge-default badge-width">
                                                                {{row.descripcionEstado}}</p>
                                                        </ng-container>
                                                        <ng-container
                                                            *ngSwitchCase="row.idEstado === estadoAscenso.DESIERTO">
                                                            <p class="badge badge-warning badge-width">
                                                                {{row.descripcionEstado}}</p>
                                                        </ng-container>
                                                        <ng-container
                                                            *ngSwitchCase="row.idEstado === estadoAscenso.FINALIZADO">
                                                            <p class="badge badge-success badge-width">
                                                                {{row.descripcionEstado}}</p>
                                                        </ng-container>

                                                       
                                                        <ng-container *ngSwitchDefault>
                                                            <p class="badge badge-default badge-width">
                                                                {{row.descripcionEstado}}</p>
                                                        </ng-container>
                                                    </ng-container>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="acciones">
                                                <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let  i = index;">
                                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                                        <div class="mat-icon-table">
                                                            <button mat-stroked-button color="primary"
                                                                class="sidebar-toggle btn-sm ml-2"
                                                                aria-label="Publicación de plazas"
                                                                matTooltip="Publicación de plazas"
                                                                (click)="handleGoPublicaciones(row)">
                                                                <mat-icon class="">grid_on</mat-icon>
                                                            </button>
                                                        </div>
                                                        <div class="mat-icon-table">
                                                            <button mat-stroked-button color="primary"
                                                                class="sidebar-toggle btn-sm ml-2"
                                                                aria-label="Postulantes"
                                                                matTooltip="Postulantes"
                                                                (click)="handleGoPostulantes(row)">
                                                                <mat-icon class="">group</mat-icon>
                                                            </button>
                                                        </div>
                                                        <div class="mat-icon-table">
                                                            <button mat-stroked-button color="primary"
                                                                class="sidebar-toggle btn-sm ml-2"
                                                                aria-label="Calificaciones" matTooltip="Calificaciones">
                                                                <mat-icon class="">check_box</mat-icon>
                                                            </button>
                                                        </div>

                                                        <div class="mat-icon-table">
                                                            <button mat-stroked-button color="primary"
                                                                class="sidebar-toggle btn-sm ml-2"
                                                                aria-label="Adjudicaciones" matTooltip="Adjudicaciones">
                                                                <mat-icon class="">thumbs_up_down</mat-icon>
                                                            </button>
                                                        </div>

                                                        <div class="mat-icon-table">
                                                            <button mat-stroked-button color="primary"
                                                                class="sidebar-toggle btn-sm ml-2"
                                                                aria-label="Consolidado de plazas"
                                                                matTooltip="Consolidado de plazas">
                                                                <mat-icon class="">list_alt</mat-icon>
                                                            </button>
                                                        </div>

                                                        <!--
                                                        <div class="mat-icon-table">
                                                            <button mat-stroked-button color="primary"
                                                                class="sidebar-toggle btn-sm ml-2"
                                                                aria-label="Ver resolución" matTooltip="Ver resolución">
                                                                <mat-icon class="">picture_as_pdf</mat-icon>
                                                            </button>
                                                        </div>
                                                        -->
                                                    </div>
                                                </mat-cell>
                                            </ng-container>
                                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                            </mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                (click)="selection.toggle(row)"
                                                [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                                                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
                                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                            </mat-row>
                                        </mat-table>
                                    </div>
                                    <div class="no-results" *ngIf="!(dataSource.loading | async)"
                                        [style.display]="dataSource.data.length === 0 ? '' : 'none'">
                                        No se encontraron registros
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container"
                                        *ngIf="dataSource.loading | async">pageSize
                                        <mat-spinner diameter="50"></mat-spinner>
                                    </div>
                                    <mat-paginator #paginator class="mat-paginator-sticky"
                                        [length]="dataSource.dataTotal" [pageIndex]="paginatorPageIndex"
                                        [pageSize]="paginatorPageSize" [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100]"
                                        showFirstLastButtons>
                                    </mat-paginator>
                                </div>

                            </div>

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>

        </div>
    </div>
</div>