<button type="button" mat-raised-button color="primary" class="save-button" *ngIf="!mineduForm.valid" [disabled]="!mineduForm.valid">
    <span class="material-icons">search</span> BUSCAR
</button>
<button type="button" mat-raised-button color="primary" class="save-button" *ngIf="mineduForm.valid && working" [disabled]="working">
    <span class="material-icons">search</span> Buscando...
</button>
<button type="button" mat-raised-button color="primary" class="save-button" (click)="onClickChild($event)"
    *ngIf="mineduForm.valid && !working" [disabled]="working">
    <span class="material-icons">search</span> BUSCAR
</button>