 <fieldset class="fieldset-border mb-3">
        <form [formGroup]="form">
            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px"
                    fxLayoutGap.xs="0">
                    <!-- Inicio Mandato judicial -->
                    <mat-form-field appearance="fill" fxFlex="20%" fxFlex.xs="100%"
                        [mineduFormFieldValidationState]="form.get('idTipoDocumento')">
                        <mat-label [mineduFormRequiredLabel]="form.get('idTipoDocumento')">Tipo Documento
                        </mat-label>
                        <mat-select formControlName="idTipoDocumento" [(ngModel)]="selectedTipoDoc">
                            <mat-option *ngFor="let item of comboLists.listTipoDocumento" [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error>
                                    <minedu-form-field-validation-messages
                                        [mineduFormControl]="form.get('idTipoDocumento')">
                                    </minedu-form-field-validation-messages>
                                </mat-error> -->
                    </mat-form-field>
                    <mat-form-field fxFlex="20%" appearance="fill">
                        <mat-label>Numero de Documento</mat-label>
                        <input matInput placeholder="Numero de Documento" value="">
                    </mat-form-field>
                    <mat-form-field fxFlex="20%" appearance="fill">
                        <mat-label>Entidad Emisora</mat-label>
                        <input matInput placeholder="Entidad Emisora" value="">
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="15%">
                        <mat-label>Fecha de Emision</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field fxFlex="15%" appearance="fill">
                        <mat-label>Folios</mat-label>
                        <input matInput placeholder="Folios" value="">
                    </mat-form-field>
                </div>

            </div>

        </form>
        <form [formGroup]="form">
            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px" fxLayoutGap.lt-md="0">
                <div fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%" fxLayoutGap="12px"
                    fxLayoutGap.xs="0">
                    <mat-form-field appearance="fill" fxFlex="20%" fxFlex.xs="100%"
                        [mineduFormFieldValidationState]="form.get('idTipoDocumento')">
                        <mat-label [mineduFormRequiredLabel]="form.get('idTipoDocumento')">Tipo de Formato
                        </mat-label>
                        <mat-select formControlName="idTipoDocumento" [(ngModel)]="selectedTipoDoc">
                            <!-- <mat-option *ngFor="let item of comboLists.listTipoDocumento" [value]="">
                            {{item.label}}
                        </mat-option> -->
                        </mat-select>
                        <!-- <mat-error>
                                <minedu-form-field-validation-messages
                                    [mineduFormControl]="form.get('idTipoDocumento')">
                                </minedu-form-field-validation-messages>
                            </mat-error> -->
                    </mat-form-field>
                    <mat-form-field fxFlex="20%" appearance="fill" fxFlex.xs="100%">
                        <mat-label>Sumilla</mat-label>
                        <input matInput placeholder="Sumilla" value="">
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="20%" fxFlex.xs="100%"
                        [mineduFormFieldValidationState]="form.get('idTipoDocumento')">
                        <mat-label [mineduFormRequiredLabel]="form.get('idTipoDocumento')">Mostrar en Visto Proyecto
                        </mat-label>
                        <mat-select formControlName="idTipoDocumento" [(ngModel)]="selectedTipoDoc">
                            <!-- <mat-option *ngFor="let item of comboLists.listTipoDocumento" [value]="">
                            {{item.label}}
                        </mat-option> -->
                        </mat-select>
                        <!-- <mat-error>
                            <minedu-form-field-validation-messages
                                [mineduFormControl]="form.get('idTipoDocumento')">
                            </minedu-form-field-validation-messages>
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field fxFlex="20%" appearance="fill" fxFlex.xs="100%">
                        <mat-label>Adjuntar Documento</mat-label>
                        <input matInput placeholder="Adjuntar Documento" value="">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </fieldset>
    <div mat-dialog-actions class="p-0" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="primary" (click)="handleNuevo()" class="ml-4"
            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"><span class="material-icons">add</span>
            AGREGAR</button>
    </div>
    <br>
    <br>
    <div class="content-table">
        <div fxLayout="row" fxLayout.lt-md="column">
            <mat-table class="minedu-table" #table [dataSource]="dataSource" [class.isMobile]="isMobile"
                [@animateStagger]="{value:'50'}" style="width: 100%" mineduPerfectScrollbar>
                <ng-container matColumnDef="tipoDocumento">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>TIPO DOCUMENTO
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                        <p class="text-truncate">{{row.mandatoJudicial}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="numeroDocumento">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>NUMERO DOCUMENTO
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                        <p class="text-truncate">{{row.codigoPlaza}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaEmision">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>FECHA EMISION
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                        <p class="text-truncate">{{row.documento}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipoFormato">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>TIPO FORMATO
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                        <p class="text-truncate">{{row.apellidos_nombres}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="folios">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>FOLIOS
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                        <p class="text-truncate">{{row.vigenciaInicio}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaRegistro">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>FECHA REGISTRO
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;" fxHide fxShow.gt-md>
                        <p class="text-truncate">{{row.vigenciaFin}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                    <mat-cell *matCellDef="let row; let  i = index;">
                        <div fxLayout="row" fxLayoutAlign="space-between  " style="margin-left: 20px!important; ">
                            <div class="mat-icon-table">
                                <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                    aria-label="Plaza" matTooltip="Plaza" (click)="verInformacionAccionPersonal(row)"
                                    *ngIf="row.descripcionRegimenLaboral === 'LEY 29944 - LEY DE REFORMA MAGISTERIAL'">
                                    <mat-icon class="">grid_on</mat-icon>
                                </button>

                                <div class="mat-icon-table">
                                    <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                        aria-label="Plaza" matTooltip="Plaza" (click)="eliminarAccionPersonal(row)"
                                        *ngIf="row.descripcionRegimenLaboral === 'LEY 29944 - LEY DE REFORMA MAGISTERIAL'">
                                        <mat-icon class="">delete</mat-icon>
                                    </button>
                                </div>

                            </div>

                            <ng-container [ngSwitch]="true">
                                <ng-container *ngSwitchCase="row.estado === 'EN PROCESO'">
                                    <div class="mat-icon-table">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                            aria-label="descripcionRegimenLaboral"
                                            matTooltip="descripcionRegimenLaboral" (click)="handleGoAdjudicaciones(row)"
                                            *ngIf="row.descripcionRegimenLaboral !== 'LEY 29944 - LEY DE REFORMA MAGISTERIAL'">
                                            <mat-icon class="">thumbs_up_down</mat-icon>
                                        </button>
                                    </div>
                                    <div class="mat-icon-table">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                            aria-label="Plaza" matTooltip="Plaza" (click)="handleGoPlazas(row)"
                                            *ngIf="row.descripcionRegimenLaboral === 'LEY 29944 - LEY DE REFORMA MAGISTERIAL'">
                                            <mat-icon class="">grid_on</mat-icon>
                                        </button>
                                    </div>
                                    <div class="mat-icon-table">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                            aria-label="Plaza" matTooltip="Plaza" (click)="handleGoPlazas(row)"
                                            *ngIf="row.descripcionRegimenLaboral === 'LEY 29944 - LEY DE REFORMA MAGISTERIAL'">
                                            <mat-icon class="">grid_on</mat-icon>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="row.estado === 'CANCELADO'">
                                    <div class="mat-icon-table">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                            aria-label="Motivo Cancelación" matTooltip="Motivo Cancelación"
                                            (click)="handleMotivoCancelacion(row)">
                                            <mat-icon class="">report</mat-icon>
                                        </button>
                                    </div>
                                </ng-container>

                                <ng-container *ngSwitchCase="row.estado === estadoEtapaAscenso.FINALIZADO">

                                    <div class="mat-icon-table">
                                        <button mat-stroked-button color="primary"
                                            class="sidebar-toggle btn-sm ml-2 btn-outline-secondary"
                                            aria-label="Calificaciones" matTooltip="Calificaciones"
                                            (click)="handleGoCalificaciones(row)">
                                            <mat-icon class="">check_box</mat-icon>
                                        </button>
                                    </div>
                                    <div class="mat-icon-table">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                            aria-label="Adjudicaciones" matTooltip="Adjudicaciones"
                                            (click)="handleGoAdjudicaciones(row)">
                                            <mat-icon class="">thumbs_up_down</mat-icon>
                                        </button>
                                    </div>


                                    <div class="mat-icon-table">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm ml-2"
                                            aria-label="Ver información" matTooltip="Ver información"
                                            (click)="busquedaPersonalizada(row)">
                                            <mat-icon class="">report</mat-icon>
                                        </button>
                                    </div>
                                </ng-container>
                            </ng-container>                           
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{hovered: row.hovered, selected: selection.isSelected(row)}"
                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" matRipple
                    [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
        </div>
        <div class="no-results" *ngIf="!(dataSource.loading | async)"
            [style.display]="dataSource.data.length === 0 ? '' : 'none'">
            No se encontraron registros
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container"
            *ngIf="dataSource.loading | async">
            pageSize
            <mat-spinner diameter="50"></mat-spinner>
        </div>
        <mat-paginator #paginator class="mat-paginator-sticky" [length]="dataSource.dataTotal"
            [pageIndex]="paginatorPageIndex" [pageSize]="paginatorPageSize"
            [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100]" showFirstLastButtons>
        </mat-paginator>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="right" fxFlex="100%" fxFlex.xs="100%">
            <p>(*) Datos Obligatorios</p>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center" fxFlex="100%"
            fxFlex.xs="100%">
            <button mat-raised-button (click)="handleCancel()"><span class="material-icons"></span> Generar
                Proyecto</button>
            <button mat-raised-button (click)="handleCancel()"><span class="material-icons"></span> Cancelar</button>
        </div>
    </div>
